@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --heading: #c0bfbf;
  --para: #717171;
  --invert-filter: invert(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  pointer-events: none;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar #mode:hover {
  transform: rotate(-15deg);
}

#navbar #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}

#p {
  position: relative;
}
#dot {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar #logo span {
  display: inline-block;
}
#navbar #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--secondary);
  transition: all ease 0.3s;
}
#navbar #menu:hover {
  transform: scale(1.15);
}
#menu-c {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}

#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 2.3vw 3.8vw;
}
#leftm {
  position: relative;
  width: 58%;
  height: 100%;
  display: flex;
  align-items: end;
}
#rightm {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10vh;
  padding-bottom: 8vw;
}
#rightm h5,
#rightm h2,
#leftm h5 {
  cursor: pointer;
  width: fit-content;
}

#shape-select a {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.3;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  display: block;
  width: fit-content;
}

#social-l {
  margin-top: 4vh;
}
#social-l a {
  font-family: para3;
  font-size: 1vw;
  line-height: 1.4;
  font-weight: 500;
  color: var(--secondary);
  text-decoration: none;
  display: block;
  width: fit-content;
}
#shape-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18vw;
  height: 18vw;
}
#shape1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  transform-origin: center;
}
#shape2 {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  transform-origin: center;
}
#shape2-in {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: var(--primary);
  clip-path: circle(50% at 50% 50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#shape3 {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  clip-path: circle(40% at 50% 50%);
}
#shape4 {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
}
#shape4-in {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: var(--primary);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shape5 {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  transform-origin: center;
}
#shape5-in {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: var(--primary);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vw;
  padding: 2vw 3.8vw;
}
#nav-lef {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hire-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
  user-select: none;
}

#hire-btn .cirr {
  width: 0.6vw;
  height: 0.6vw;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

#hire-btn:hover .cirr {
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
#hire-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 1vw;
  display: none;
}

#hire-btn:hover .cirr i {
  display: block;
}

#hire-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 1vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--secondary);
}
#hire-btn:hover h3 {
  margin-right: 0;
}

#hire-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--secondary);
  height: 0.01vw;
  transition: all ease 0.3s;
}
#hire-btn:hover h3::after {
  width: 0;
}

/* black nav */

#navbar-black {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #000000 0,
    hsla(0, 0%, 0%, 0.987) 11%,
    hsla(0, 0%, 0%, 0.951) 20.8%,
    hsla(0, 0%, 0%, 0.896) 29.6%,
    hsla(0, 0%, 0%, 0.825) 37.5%,
    hsla(0, 0%, 0%, 0.741) 44.6%,
    hsla(0, 0%, 0%, 0.648) 51%,
    hsla(0, 0%, 0%, 0.55) 57%,
    hsla(0, 0%, 0%, 0.45) 62.5%,
    hsla(0, 0%, 0%, 0.352) 67.7%,
    hsla(0, 0%, 0%, 0.259) 72.7%,
    hsla(0, 0%, 0%, 0.175) 77.8%,
    hsla(0, 0%, 0%, 0.104) 82.9%,
    hsla(0, 0%, 0%, 0.049) 88.2%,
    hsla(0, 0%, 0%, 0.013) 93.9%,
    hsla(0, 0%, 0%, 0)
  );
  color: white;
  pointer-events: none;
}
#navbar-black #mode-black {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar-black #mode-black:hover {
  transform: rotate(-15deg);
}

#navbar-black #logo-black {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  font-size: 1.6vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

#p-black {
  position: relative;
}
#dot-black {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar-black #logo-black span {
  display: inline-block;
}
#navbar-black #logo-black img {
  height: 1.2vw;
  filter: invert(1);
}

#navbar-black #menu-black {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: white;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}
#navbar-black #menu-black:hover {
  transform: scale(1.15);
}

#mobile-logo-black {
  display: none;
}

#menu-c-black {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c-black h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: white;
}
/* black nav end */

h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h5,
h6,
h5 span,
p {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--secondary);
}

#main {
  width: 100%;
  background-color: var(--primary);
}

#page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#page1 img {
  height: 100%;
  width: 100%;
}

#about-hero-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 12vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#about-hero-over h2 {
  margin-left: 30%;
  margin-bottom: 2vw;
  color: var(--heading);
}
#about-hero-over .common-btn {
  margin-left: 30%;
}

#page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--secondary);
}
#page2 img {
  height: 98vw;
  opacity: 0.5;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 50s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#about2-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
}

.accordion {
  width: 45%;
  margin-bottom: 2.5vw;
}
.accordion-title {
  width: 100%;
  padding: 1.5vw 0;
  border-bottom: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease 0.3s;
}

.accordion-title h2 {
  font-size: 2vw;
  color: var(--primary) !important;
  letter-spacing: 1px;
}

.accordion h2 {
  opacity: 1;
}

.accordion-dec {
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: center;
}
.accordion-dec h5 {
  width: 95%;
  padding: 3vw 0 0;
  padding-top: 1vw;
  color: var(--primary) !important;
  line-height: 1.5 !important;
  font-size: 1vw !important;
  letter-spacing: 0.5px !important;
  opacity: 0.8;
}

#page3 {
  width: 100%;
  height: auto;
  padding: 10vw 0;
  padding-left: 30%;
  padding-right: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#place {
  font-size: 2vw !important;
  color: var(--heading) !important;
  margin-bottom: 2vw;
  letter-spacing: 1px;
}
#page3 p {
  color: var(--para) !important;
  margin-bottom: 1.5vw;
}
#page3-h2 {
  color: var(--heading) !important;
  margin-top: 8vw;
  letter-spacing: 1px;
  margin-bottom: 2vw;
}
#page3-para {
  font-size: 2vw !important;
  letter-spacing: 1px;
  color: var(--para) !important;
}
#page4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.member-container {
  width: 35vw;
  padding-bottom: 1vw;
}
.member-container .profile {
  width: 35vw;
  height: 35vw;
  background-color: rgba(128, 128, 128, 0.207);
}
.member-name {
  font-size: 2vw !important;
  color: var(--heading) !important;
  margin-top: 3vw;
  margin-bottom: 0.5vw;
}
.member-tag {
  font-size: 1vw !important;
  text-transform: uppercase;
  color: var(--heading) !important;
  font-family: heading2;
  letter-spacing: 1px;
}
.member-desc {
  font-size: 1vw !important;
  color: var(--para) !important;
  margin: 2.5vw 0 3.5vw;
  width: 95%;
}

#page5 {
  width: 100%;
  height: auto;
  position: relative;
}

#page5 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#page5-over {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw;
  padding-top: 30vh;
  padding-bottom: 20vh;
  position: relative;
  z-index: 9;
}

#page5-top{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page5-title {
  letter-spacing: 1px;
  font-weight: 600 !important;
  color: var(--heading) !important;
}

#page5-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page5-cont .box {
  width: 28%;
  height: 100px;
  flex-shrink: 0;
  text-align: left;
  margin-top: 8vw;
}
#page5-cont .box h2 {
  font-size: 1.5vw;
  font-weight: 600 !important;
  margin-bottom: 1vw;
  letter-spacing: 1px;
  color: var(--heading);
}
#page5-cont .box p {
  width: 80%;
  color: var(--para);
}

.container-circle {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ring-circle {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%) rotateX(-90deg);
  transform-origin: bottom;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
}

.ring-circle:nth-child(1) {
  width: 45vh;
  height: 45vh;
}
.ring-circle:nth-child(2) {
  width: 55vh;
  height: 55vh;
}
.ring-circle:nth-child(3) {
  width: 65vh;
  height: 65vh;
}
.ring-circle:nth-child(4) {
  width: 75vh;
  height: 75vh;
}
.ring-circle:nth-child(5) {
  width: 85vh;
  height: 85vh;
}

#page6 {
  width: 100%;
  min-height: 80vh;
  padding: 10vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page6 > h2 {
  letter-spacing: 1px;
  font-weight: 600 !important;
  color: var(--heading) !important;
  text-align: center;
}
#page6-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page6-cont .box-pg6 {
  width: 45%;
  height: 100px;
  flex-shrink: 0;
  text-align: left;
  margin-top: 8vw;
}
#page6-cont .box-pg6 h2 {
  font-size: 1.5vw;
  font-weight: 600 !important;
  margin-bottom: 1vw;
  letter-spacing: 1px;
  color: var(--heading);
}
#page6-cont .box-pg6 p {
  width: 80%;
  color: var(--para);
}

#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 2vw 3.8vw;
  padding-top: 8vw;
  color: #f2f2ee;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
#footer a {
  text-decoration: none;
  color: #f2f2ee;
  display: block;
  font-family: para2;
  font-size: 1.05vw;
  font-weight: 500;
  line-height: 1.35;
}

#footer-tp {
  width: 32%;
}
#footer-tp h5 {
  text-transform: uppercase;
  font-weight: 600;
}
#footer-tp h5,
#footer-tp h6 {
  color: #f2f2ee;
  font-size: 0.9vw;
}
#ft-service {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1vw 0;
  margin-bottom: 2vw;
}
.ft-ser {
  width: 50%;
}
#input-wrap {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 5%;
  margin-top: 1vw;
}
#input-wrap input {
  padding: 0.7vw 1vw;
  background-color: transparent;
  outline: none;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.745);
  width: 65%;
  border-radius: 5px;
  color: var(--primary);
  height: 45px;
}
#ft-btn {
  height: 45px;
  padding: 0.7vw 1vw;
  background-color: #f2f2ee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#ft-btn h5 {
  font-size: 0.8vw;
  text-transform: capitalize;
  color: black;
}
#footer-btm h5 {
  color: #f2f2ee;
  font-size: 1.05vw;
}
#footer-btm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer-btm > div {
  width: fit-content;
}

#footer-btm > div:nth-child(5) {
  text-align: right;
}
.ft-social {
  margin-bottom: 0.3vw;
}
.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.01vw;
  background-color: white;
  mix-blend-mode: difference;
  transition: all ease 0.3s;
}
.lineUnder:hover:before {
  width: 100%;
}
.linewrap {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.lastft {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#mobile-logo {
  display: none;
}
#mobile-logo img {
  width: 40%;
}

.common-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.common-btn .cirr {
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

.common-btn:hover .cirr {
  width: 0.9vw;
  height: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
.common-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 0.5vw;
  display: none;
}

.common-btn:hover .cirr i {
  display: block;
}

.common-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
  text-transform: uppercase;
}
.common-btn:hover h3 {
  margin-right: 0;
}

.common-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--heading);
  height: 0.01vw;
  transition: all ease 0.3s;
}
.common-btn:hover h3::after {
  width: 0;
}

@media (max-width: 600px) {
  #navbar {
    padding: 10vw 7vw;
  }
  #navbar-black {
    padding: 10vw 7vw;
  }
  #navbar #menu {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar-black #menu-black {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar #logo,
  #navbar-black #logo-black {
    display: none;
  }
  #logo,
  #logo-black {
    display: none;
  }
  #mobile-logo {
    display: block;
    filter: invert(1);
  }
  #mobile-logo-black {
    display: block;
  }
  #mobile-logo-black img {
    width: 40%;
    filter: invert(1);
  }
  #navbar-black #mode-black {
    display: none;
  }
  #mode {
    display: none;
  }

  #navigation {
    padding: 4vw 7vw;
  }

  #leftm {
    display: none;
  }

  #rightm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    padding-bottom: 8vw;
  }

  #shape-select a {
    font-family: heading3;
    font-size: 12vw;
  }

  #social-l a {
    font-family: para3;
    font-size: 4.5vw;
  }

  #nav-lef {
    width: 65%;
  }

  #hire-btn h3 {
    margin-right: 1vw;
    font-size: 4.5vw;
    white-space: nowrap;
  }
  #nav-btm {
    height: auto;
    padding: 6vw 7vw;
  }
}
