@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --heading: #c0bfbf;
  --para: #717171;
  --invert-filter: invert(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}

#cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  pointer-events: none;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar #mode:hover {
  transform: rotate(-15deg);
}

#navbar #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}

#p {
  position: relative;
}
#dot {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar #logo span {
  display: inline-block;
}
#navbar #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  /* background-color: var(--secondary); */
  /* color: var(--secondary); */
  border: 2px solid var(--secondary);
  transition: all ease 0.3s;
}
#navbar #menu:hover {
  background-color: #fff;
}
#menu-c {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}

#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 5;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5vw;
}
#top-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#navigation-link {
  display: flex;
  flex-direction: column;
}
#navigation-link a {
  font-family: heading1;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  margin-bottom: 1vw;
  opacity: 0.5;
  letter-spacing: 1px;
}
#navigation-link a:nth-child(1) {
  opacity: 1;
  font-weight: 600;
}
#top-container .common-btn {
  text-decoration: none;
}
#top-container .common-btn .cirr {
  width: 0.8vw;
  height: 0.8vw;
}
#top-container .common-btn h3 {
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: 100;
}
#btm-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--para);
  padding-top: 3vw;
}
#navigation-social {
  display: flex;
  align-items: center;
  gap: 4vw;
}
#navigation-social a {
  text-decoration: none;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
}

#nav-btn-container {
  display: flex;
  align-items: center;
  gap: 3vw;
}
/* black nav */

#navbar-black {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #000000 0,
    hsla(0, 0%, 0%, 0.987) 11%,
    hsla(0, 0%, 0%, 0.951) 20.8%,
    hsla(0, 0%, 0%, 0.896) 29.6%,
    hsla(0, 0%, 0%, 0.825) 37.5%,
    hsla(0, 0%, 0%, 0.741) 44.6%,
    hsla(0, 0%, 0%, 0.648) 51%,
    hsla(0, 0%, 0%, 0.55) 57%,
    hsla(0, 0%, 0%, 0.45) 62.5%,
    hsla(0, 0%, 0%, 0.352) 67.7%,
    hsla(0, 0%, 0%, 0.259) 72.7%,
    hsla(0, 0%, 0%, 0.175) 77.8%,
    hsla(0, 0%, 0%, 0.104) 82.9%,
    hsla(0, 0%, 0%, 0.049) 88.2%,
    hsla(0, 0%, 0%, 0.013) 93.9%,
    hsla(0, 0%, 0%, 0)
  );
  color: white;
  pointer-events: none;
}
#navbar-black #mode-black {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar-black #mode-black:hover {
  transform: rotate(-15deg);
}

#navbar-black #logo-black {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  font-size: 1.6vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

#p-black {
  position: relative;
}
#dot-black {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar-black #logo-black span {
  display: inline-block;
}
#navbar-black #logo-black img {
  height: 1.2vw;
  filter: invert(1);
}

#navbar-black #menu-black {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  /* background-color: white; */
  /* color: white; */
  border: 2px solid white;
  transition: all ease 0.3s;
  cursor: pointer;
}
#navbar-black #menu-black:hover {
  background-color: #fff;
}

#mobile-logo-black {
  display: none;
}

#menu-c-black {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c-black h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: white;
}
/* black nav end */

h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h5,
h6,
h5 span,
p {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--secondary);
}

#main {
  width: 100%;
  background-color: var(--primary);
}

#page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--primary);
}

#page1 img {
  height: 100%;
  width: 100%;
}

#about-hero-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 12vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#about-hero-over h2 {
  margin-left: 30%;
  margin-bottom: 2vw;
  color: var(--heading);
}
#about-hero-over .common-btn {
  margin-left: 30%;
}

#page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--primary);
}
#page2 img {
  height: 98vw;
  opacity: 0.5;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 50s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#about2-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
}
.gradient {
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, var(--primary), transparent);
}
.gradient2 {
  width: 100%;
  height: 5vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, var(--primary), transparent);
}

.accordion {
  width: 45%;
  margin-bottom: 2.5vw;
}
.accordion-title {
  width: 100%;
  padding: 1.5vw 0;
  /* border-bottom: 1px solid var(--secondary); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease 0.3s;
  position: relative;
}
.accordion-title .line-c{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.01vw;
  background-color: rgba(128, 128, 128, 0.745);
  display: flex;
  align-items: center;
  justify-content: end;
}
.accordion-title .line{
  width: 0%;
  height: 0.01vw;
  background-color: var(--secondary);
}

.accordion-title h2 {
  font-size: 2vw;
  color: var(--heading) !important;
  letter-spacing: 1px;
}

.accordion h2 {
  opacity: 1;
}

.accordion-dec {
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: center;
}
.accordion-dec h5 {
  width: 95%;
  padding: 3vw 0 0;
  padding-top: 1vw;
  color: var(--para) !important;
  line-height: 1.5 !important;
  font-size: 1vw !important;
  letter-spacing: 0.5px !important;
  opacity: 0.8;
}

#page3 {
  width: 100%;
  height: auto;
  padding: 10vw 0;
  padding-left: 30%;
  padding-right: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#place {
  font-size: 2vw !important;
  color: var(--heading) !important;
  margin-bottom: 2vw;
  letter-spacing: 1px;
}
#page3 p {
  color: var(--para) !important;
  margin-bottom: 1.5vw;
}
#page3-h2 {
  color: var(--heading) !important;
  margin-top: 8vw;
  letter-spacing: 1px;
  margin-bottom: 2vw;
}
#page3-para {
  font-size: 2vw !important;
  letter-spacing: 1px;
  color: var(--para) !important;
}
#page4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.member-container {
  width: 35vw;
  padding-bottom: 1vw;
}
.member-container .profile {
  width: 35vw;
  height: 35vw;
  background-color: rgba(128, 128, 128, 0.207);
}
.member-name {
  font-size: 2vw !important;
  color: var(--heading) !important;
  margin-top: 3vw;
  margin-bottom: 0.5vw;
}
.member-tag {
  font-size: 1vw !important;
  text-transform: uppercase;
  color: var(--heading) !important;
  font-family: heading2;
  letter-spacing: 1px;
}
.member-desc {
  font-size: 1vw !important;
  color: var(--para) !important;
  margin: 2.5vw 0 3.5vw;
  width: 95%;
}

#page5 {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

#page5 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#page5-over {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw;
  padding-top: 30vh;
  padding-bottom: 20vh;
  position: relative;
  z-index: 9;
}

#page5-top {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page5-title {
  letter-spacing: 1px;
  font-weight: 600 !important;
  color: var(--heading) !important;
}

#page5-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page5-cont .box {
  width: 28%;
  height: 100px;
  flex-shrink: 0;
  text-align: left;
  margin-top: 8vw;
}
#page5-cont .box h2 {
  font-size: 1.5vw;
  font-weight: 600 !important;
  margin-bottom: 1vw;
  letter-spacing: 1px;
  color: var(--heading);
}
#page5-cont .box p {
  width: 80%;
  color: var(--para);
}

.container-circle {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ring-circle {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%) rotateX(-90deg);
  transform-origin: bottom;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
}

.ring-circle:nth-child(1) {
  width: 45vh;
  height: 45vh;
}
.ring-circle:nth-child(2) {
  width: 55vh;
  height: 55vh;
}
.ring-circle:nth-child(3) {
  width: 65vh;
  height: 65vh;
}
.ring-circle:nth-child(4) {
  width: 75vh;
  height: 75vh;
}
.ring-circle:nth-child(5) {
  width: 85vh;
  height: 85vh;
}

#page6 {
  width: 100%;
  min-height: 80vh;
  padding: 10vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page6 > h2 {
  letter-spacing: 1px;
  font-weight: 600 !important;
  color: var(--heading) !important;
  text-align: center;
}
#page6-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#page6-cont .box-pg6 {
  width: 45%;
  flex-shrink: 0;
  text-align: left;
  margin-top: 8vw;
}
#page6-cont .box-pg6 h2 {
  font-size: 1.5vw;
  font-weight: 600 !important;
  margin-bottom: 1vw;
  letter-spacing: 1px;
  color: var(--heading);
}
#page6-cont .box-pg6 p {
  width: 80%;
  color: var(--para);
}

#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  padding: 6vw;
  color: var(--secondary);
  display: flex;
  align-items: flex-end;
}

#footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ft-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#ft-left img {
  width: 4vw;
}
#ft-left h2 {
  font-size: 2vw;
  letter-spacing: 0.5px;
  color: var(--para);
}
#ft-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-links a {
  width: calc(100% / 3);
  text-decoration: none;
  color: var(--heading);
  font-family: heading3;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.5vw;
  letter-spacing: 1px;
}
#bottom-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-links a {
  width: calc(100% / 3);
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 1vw;
}
#footer #social {
  display: flex;
  gap: 5vw;
}
#footer #social h5 {
  margin-bottom: 0.5vw;
}
#ft-right h5 {
  color: var(--heading);
  font-family: heading5;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.heading-ft {
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 0.5vw;
}
#input-box input {
  width: 100%;
  padding: 0.8vw 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--para);
}
.social-links {
  display: flex;
  flex-direction: column;
}
.address-link {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.social-links a {
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}

.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.01vw;
  background-color: white;
  mix-blend-mode: difference;
  transition: all ease 0.3s;
}
.lineUnder:hover:before {
  width: 100%;
}
.linewrap {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.lastft {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#mobile-logo {
  display: none;
}
#mobile-logo img {
  width: 100%;
}

.common-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.common-btn .cirr {
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

.common-btn:hover .cirr {
  width: 0.9vw;
  height: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
.common-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 0.5vw;
  display: none;
}

.common-btn:hover .cirr i {
  display: block;
}

.common-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
  text-transform: uppercase;
}
.common-btn:hover h3 {
  margin-right: 0;
}

.common-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--heading);
  height: 0.01vw;
  transition: all ease 0.3s;
}
.common-btn:hover h3::after {
  width: 0;
}

@media (max-width: 600px) {
  #about-hero-over {
    padding-bottom: 40vh;
  }
  #navbar {
    padding: 10vw 4vw;
  }
  #navbar-black {
    padding: 10vw 4vw;
  }
  #navbar #menu {
    height: 5.5vw;
    width: 5.5vw;
  }
  #navbar-black #menu-black {
    height: 5.5vw;
    width: 5.5vw;
  }
  #navbar #logo,
  #navbar-black #logo-black {
    display: none;
  }
  #logo,
  #logo-black {
    display: none;
  }
  #mobile-logo {
    display: flex;
    align-items: end;
    width: 45%;
    filter: invert(1);
    pointer-events: all;
    pointer-events: auto;
  }
  #mobile-logo-black {
    display: flex;
    align-items: end;
    width: 45%;
    pointer-events: auto;
  }
  #mobile-logo-black img {
    width: 100%;
    filter: invert(1);
  }
  #navbar-black #mode-black {
    display: inline-block;
    font-size: 5vw;
  }
  #mode {
    display: inline-block;
    font-size: 5vw !important;
  }

  #navigation {
    padding: 6vw;
    justify-content: space-between;
    padding-top: 25vh;
  }

  #top-container {
    flex-direction: column;
    align-items: start;
    gap: 5vw;
  }
  #navigation-link a {
    font-size: 11.5vw;
    margin-bottom: 4vw;
  }

  #top-container .common-btn h3 {
    font-size: 5vw;
  }
  #top-container .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }
  #btm-container {
    flex-direction: column-reverse;
    align-items: start;
    gap: 5vw;
    padding-top: 5vw;
  }
  #navigation-social {
    width: 100%;
    justify-content: space-between;
  }
  #navigation-social a {
    font-size: 1.05rem;
  }
  #nav-btn-container{
  gap: 12vw;
}
  #about-hero-over h2 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }
  #about2-over {
    padding: 4vw;
  }
  .accordion {
    width: 100%;
    margin-bottom: 8vw;
  }
  .accordion h2 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }
  .accordion-dec h5 {
    font-size: 1.05rem !important;
    margin-top: 5vw;
  }
  #page3 {
    padding: 10vw 4vw 2vw;
  }
  #place {
    font-size: 5vw !important;
    margin-bottom: 5vw;
  }
  #page3-h2 {
    font-size: 7vw;
    margin-bottom: 5vw;
    margin-top: 30vw;
  }
  #page3-para {
    font-size: 1.05rem !important;
  }
  #page3 p {
    font-size: 1.05rem;
    margin-bottom: 5vw;
  }
  #page4 {
    flex-direction: column;
    padding: 4vw;
    gap: 10vw;
  }
  .member-container {
    width: 100%;
  }
  .member-container .profile {
    width: 100%;
    height: 100vw;
  }
  .member-name {
    margin-bottom: 2vw;
    font-size: 7vw !important;
  }
  .member-tag {
    font-size: 4vw !important;
  }
  .member-desc {
    font-size: 1.05rem !important;
    margin: 5vw 0;
  }
  #page5-cont {
    flex-direction: column;
  }
  #page5-cont .box {
    width: 100%;
    height: auto;
  }
  #page5-title {
    font-size: 7vw;
    text-align: left;
    width: 100%;
  }
  #page5-cont .box h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  .ring-circle {
    transform: translateX(-50%) rotateX(0deg);
  }
  .container-circle {
    scale: 0.5;
    height: 75vh;
  }
  #page5-cont .box p {
    font-size: 1.05rem;
    width: 90%;
  }
  #page5-over {
    padding: 30vw 4vw;
    padding-bottom: 0;
  }
  #page6 {
    padding: 4vw;
  }
  #page6 > h2 {
    width: 100%;
    font-size: 6vw;
    text-align: left;
  }
  #page6-cont {
    flex-direction: column;
  }
  #page6-cont .box-pg6 p {
    font-size: 1.05rem;
    width: 90%;
  }
  #page6-cont .box-pg6 {
    width: 100%;
    height: auto;
  }
  #page6-cont .box-pg6 h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  .common-btn {
    gap: 2.5vw;
  }
  .common-btn h3 {
    font-size: 3vw;
  }
  .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }

  #footer {
    height: auto;
    padding-top: 15vw;
  }

  #footer-container {
    flex-direction: column;
    gap: 20vw;
  }
  #ft-left img {
    width: 10vw;
  }
  #ft-left h2 {
    font-size: 5vw;
    line-height: 1.3;
  }
  #ft-left {
    gap: 12vw;
  }
  #footer-links a {
    margin-bottom: 5vw;
  }
  #bottom-links a {
    font-size: 1.06rem;
  }
  #ft-right {
    gap: 12vw;
  }
  .heading-ft {
    font-size: 1.06rem;
    margin-bottom: 2vw;
  }
  .address-link {
    font-size: 1.06rem;
  }
  .social-links a {
    font-size: 1.06rem;
  }
  #footer #social h5 {
    margin-bottom: 2vw;
  }
  #input-box input {
    font-size: 1.06rem;
    padding: 4vw 0;
  }
  #footer #social {
    gap: 16vw;
  }
}
