@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --heading: #c0bfbf;
  --para: #717171;
  --invert-filter: invert(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  pointer-events: none;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar #mode:hover {
  transform: rotate(-15deg);
}

#navbar #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}

#p {
  position: relative;
}
#dot {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar #logo span {
  display: inline-block;
}
#navbar #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  /* background-color: var(--secondary); */
  /* color: var(--secondary); */
  border: 2px solid var(--secondary);
  transition: all ease 0.3s;
}
#navbar #menu:hover {
  background-color: var(--secondary);
}
#menu-c {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}

#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 5;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5vw;
}
#top-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#navigation-link {
  display: flex;
  flex-direction: column;
}
#navigation-link a {
  font-family: heading1;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  margin-bottom: 1vw;
  opacity: .5;
  letter-spacing: 1px;
}
#navigation-link a:nth-child(3){
  opacity: 1;
  font-weight: 600;
}
#top-container .common-btn{
  text-decoration: none;
}
#top-container .common-btn .cirr{
  width: .8vw;
  height: .8vw;
}
#top-container .common-btn h3{
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: 100;
}
#btm-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--para);
  padding-top: 3vw;
}
#navigation-social{
  display: flex;
  align-items: center;
  gap: 4vw;
}
#navigation-social a{
  text-decoration: none;
   font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
}

#nav-btn-container{
  display: flex;
  align-items: center;
  gap: 3vw;
}

/* black nav */

#navbar-black {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #000000 0,
    hsla(0, 0%, 0%, 0.987) 11%,
    hsla(0, 0%, 0%, 0.951) 20.8%,
    hsla(0, 0%, 0%, 0.896) 29.6%,
    hsla(0, 0%, 0%, 0.825) 37.5%,
    hsla(0, 0%, 0%, 0.741) 44.6%,
    hsla(0, 0%, 0%, 0.648) 51%,
    hsla(0, 0%, 0%, 0.55) 57%,
    hsla(0, 0%, 0%, 0.45) 62.5%,
    hsla(0, 0%, 0%, 0.352) 67.7%,
    hsla(0, 0%, 0%, 0.259) 72.7%,
    hsla(0, 0%, 0%, 0.175) 77.8%,
    hsla(0, 0%, 0%, 0.104) 82.9%,
    hsla(0, 0%, 0%, 0.049) 88.2%,
    hsla(0, 0%, 0%, 0.013) 93.9%,
    hsla(0, 0%, 0%, 0)
  );
  color: white;
  pointer-events: none;
}
#navbar-black #mode-black {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar-black #mode-black:hover {
  transform: rotate(-15deg);
}

#navbar-black #logo-black {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  font-size: 1.6vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

#p-black {
  position: relative;
}
#dot-black {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar-black #logo-black span {
  display: inline-block;
}
#navbar-black #logo-black img {
  height: 1.2vw;
  filter: invert(1);
}

#navbar-black #menu-black {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  /* background-color: white; */
  /* color: white; */
  border: 2px solid white;
  transition: all ease 0.3s;
  cursor: pointer;
}
#navbar-black #menu-black:hover {
  background-color: #fff;
}

#mobile-logo-black {
  display: none;
}

#menu-c-black {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c-black h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: white;
}
/* black nav end */

h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h5,
h6,
h5 span,
p {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--secondary);
}

#main {
  width: 100%;
  background-color: var(--primary);
}

#page1 {
  height: 100vh;
  width: 100%;
}
#page1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3 {
  min-height: 50vh;
  width: 100%;
  padding: 10vw 6vw;
  padding-bottom: 5vw;
  display: flex;
  justify-content: space-between;
}
#slide1 {
  width: 35%;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slide1 h2 {
  font-weight: 600;
  letter-spacing: 1px !important;
}

#slide1 #p1 {
  margin-top: 1vw;
}
#slide1 p {
  font-family: para3;
  font-size: 1.2vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}
#slide2 {
  width: 62%;
}
#slide2 > h2 {
  letter-spacing: 1px;
  color: var(--heading) !important;
}
#slide2 > p {
  margin: 3.5vw 0;
  color: var(--para) !important;
  width: 85%;
}

.accordion {
  width: 100%;
}
.accordion-title {
  width: 100%;
  padding: 2vw 0;
  border-top: 1px solid rgba(128, 128, 128, 0.745);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease 0.3s;
}
.accordion-title .plus {
  position: relative;
  height: 1.8vw;
  width: 1.8vw;
  cursor: pointer;
}
.accordion-title .plus .line1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0.01vw;
  background-color: var(--secondary);
}
.accordion.active .accordion-title .plus .line2 {
  height: 0;
}
.accordion-title .plus .line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.01vw;
  height: 100%;
  background-color: var(--secondary);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.accordion-title h2 {
  font-size: 2vw;
  color: var(--heading) !important;
}
.accordion.active h2 {
  opacity: 1;
}
.accordion h2 {
  opacity: 0.5;
}
.accordion-title:hover h2 {
  opacity: 1;
}
.accordion.active .accordion-dec {
  height: 10vw;
}
.accordion-dec {
  overflow: hidden;
  height: 0vw;
  display: flex;
  align-items: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.accordion-dec h5 {
  width: 80%;
  padding: 3vw 0;
  padding-top: 1vw;
  color: var(--para) !important;
}
.accordion .marketing-accordion-dec h5 {
  width: 85%;
}

#page4 {
  width: 100%;
  padding: 2vw 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--primary);
}
#page4.page4-top {
  align-items: flex-end;
  gap: 4vw;
  padding: 8vw 6vw;
}
#page4.page4-top #works {
  margin: 0 !important;
}
#page4 #hire-btn {
  height: 2.5vw;
}

#page4 h2 {
  font-size: 2vw !important;
  letter-spacing: 1px;
  margin-bottom: 1vw;
}
#works {
  margin-top: 3vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#works .work {
  width: 26vw;
  height: 26vw;
}

.work-text-wrap {
  height: 3.5vh;
  overflow: hidden;
}
.work-text-wrap h5 {
  font-family: para3;
  font-size: 2.3vh;
  font-weight: 500;
  text-transform: capitalize;
  transition: all ease 0.3s;
  transform: translateY(100%) rotate(25deg);
  transform-origin: left;
  color: var(--heading);
}
#works .work:hover h5 {
  transform: translateY(0%);
}
#works .work img {
  width: 100%;
  height: calc(100% - 3.5vh);
  object-fit: cover;
}
#page5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2vw;
  padding: 10vw 0;
}
#page5 h2 {
  color: var(--heading) !important;
}
#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  padding: 6vw;
  color: var(--secondary);
  display: flex;
  align-items: flex-end;
}

#footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ft-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#ft-left img {
  width: 4vw;
}
#ft-left h2 {
  font-size: 2vw;
  letter-spacing: 0.5px;
  color: var(--para);
}
#ft-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-links a {
  width: calc(100% / 3);
  text-decoration: none;
  color: var(--heading);
  font-family: heading3;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.5vw;
  letter-spacing: 1px;
}
#bottom-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-links a {
  width: calc(100% / 3);
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 1vw;
}
#footer #social {
  display: flex;
  gap: 5vw;
}
#footer #social h5 {
  margin-bottom: 0.5vw;
}
#ft-right h5 {
  color: var(--heading);
  font-family: heading5;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.heading-ft {
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 0.5vw;
}
#input-box input {
  width: 100%;
  padding: 0.8vw 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--para);
}
.social-links {
  display: flex;
  flex-direction: column;
}
.address-link {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.social-links a {
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}

.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.01vw;
  background-color: white;
  mix-blend-mode: difference;
  transition: all ease 0.3s;
}
.lineUnder:hover:before {
  width: 100%;
}
.linewrap {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.lastft {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#mobile-logo {
  display: none;
}
#mobile-logo img {
  width: 100%;
}

.common-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.common-btn .cirr {
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

.common-btn:hover .cirr {
  width: 0.9vw;
  height: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
.common-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 0.5vw;
  display: none;
}

.common-btn:hover .cirr i {
  display: block;
}

.common-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
  text-transform: uppercase;
}
.common-btn:hover h3 {
  margin-right: 0;
}

.common-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--heading);
  height: 0.01vw;
  transition: all ease 0.3s;
}
.common-btn:hover h3::after {
  width: 0;
}

@media (max-width: 600px) {
  #navbar {
    padding: 10vw 4vw;
  }
  #navbar-black {
    padding: 10vw 4vw;
  }
  #navbar #menu {
    height: 5.5vw;
    width: 5.5vw;
  }
  #navbar-black #menu-black {
    height: 5.5vw;
    width: 5.5vw;
  }
  #navbar #logo,
  #navbar-black #logo-black {
    display: none;
  }
  #logo,
  #logo-black {
    display: none;
  }
  #mobile-logo {
     display: flex;
    align-items: end;
    width: 45%;
    filter: invert(1);
    pointer-events: auto;
  }
  #mobile-logo-black {
     display: flex;
    align-items: end;
    width: 45%;
    pointer-events: auto;
  }
  #mobile-logo-black img {
    width: 100%;
    filter: invert(1);
  }
  #navbar-black #mode-black {
    display: none;
  }
  #mode {
    display: inline-block;
    font-size: 5vw !important;
  }

  #navigation {
    padding: 6vw;
    justify-content: space-between;
    padding-top: 25vh;
  }

  #top-container {
    flex-direction: column;
    align-items: start;
    gap: 5vw;
  }
  #navigation-link a {
    font-size: 11.5vw;
    margin-bottom: 4vw;
  }
  #slide2 > h2{
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  #top-container .common-btn h3{
    font-size: 5vw;
  }
  #top-container .common-btn .cirr{
    width: 2.5vw;
    height: 2.5vw;
  }
  #btm-container {
    flex-direction: column-reverse;
    align-items: start;
    gap: 5vw;
    padding-top: 5vw;
  }
  #navigation-social{
    width: 100%;
    justify-content: space-between;
  }
  #navigation-social a {
    font-size: 1.05rem;
  }
  #nav-btn-container{
  gap: 12vw;
}

  #page1 {
    height: 100vh;
    padding: 0;
  }
  #page2 {
    height: 25vh;
  }

  #page3 {
    flex-direction: column;
    padding: 10vw 4vw;
  }

  #slide1 {
    width: 100%;
  }
  #slide1 h2 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
  #slide1 h5 {
    width: 100%;
    margin: 10vw 0;
  }
  #slide2 {
    width: 100%;
  }

  .accordion-title {
    padding: 4vw 0;
  }

  .accordion-title h2 {
    font-family: para2;
    /* font-size: 1.1vw; */
    font-size: 1.125rem;
    line-height: 1.35;
    font-weight: 500;
    color: var(--secondary);
  }
  .accordion-dec h5 {
    width: 100%;
    font-size: 1.2rem;
  }
  .accordion.active .accordion-dec {
    height: 75vw;
  }
  .accordion .marketing-accordion-dec h5 {
    width: 100%;
  }
  .accordion.active .marketing-accordion-dec {
    height: 128vw !important;
  }
  #slide2 {
    margin-top: 10vw;
  }
  #page4 {
    justify-content: flex-start;
    padding: 4vw !important;
    padding-bottom: 10vw;
    min-height: 40vh;
  }
  #page5 h2 {
    font-size: 7vw !important;
    margin-bottom: 5vw;
  }

  #page4 h2 {
    font-size: 7vw !important;
    margin-bottom: 5vw;
  }
  #works {
    width: 100%;
    flex-direction: column;
  }
  #works .work {
    width: 100%;
    height: 100vw;
    margin-bottom: 5vw;
  }
  .common-btn {
    gap: 2.5vw;
  }
  .common-btn h3 {
    font-size: 3vw;
  }
  .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }

  #footer {
    height: auto;
    padding-top: 15vw;
  }

  #footer-container {
    flex-direction: column;
    gap: 20vw;
  }
  #ft-left img {
    width: 10vw;
  }
  #ft-left h2 {
    font-size: 5vw;
    line-height: 1.3;
  }
  #ft-left {
    gap: 12vw;
  }
  #footer-links a {
    margin-bottom: 5vw;
  }
  #bottom-links a {
    font-size: 1.06rem;
  }
  #ft-right {
    gap: 12vw;
  }
  .heading-ft {
    font-size: 1.06rem;
    margin-bottom: 2vw;
  }
  .address-link {
    font-size: 1.06rem;
  }
  .social-links a {
    font-size: 1.06rem;
  }
  #footer #social h5 {
    margin-bottom: 2vw;
  }
  #input-box input {
    font-size: 1.06rem;
    padding: 4vw 0;
  }
  #footer #social {
    gap: 16vw;
  }
}
