@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --heading: #c0bfbf;
  --para: #717171;
  --back: rgba(0, 0, 0, 0.473);
  --invert-filter: invert(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
::-webkit-scrollbar {
  display: none;
}
#cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  pointer-events: none;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar #mode:hover {
  transform: rotate(-15deg);
}

#navbar #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}
#p {
  position: relative;
}
#dot {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar #logo span {
  display: inline-block;
}
#navbar #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--secondary);
  transition: all ease 0.3s;
}
#navbar #menu:hover {
  transform: scale(1.15);
}
#menu-c {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}

/* black nav */

#navbar-black {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #000000 0,
    hsla(0, 0%, 0%, 0.987) 11%,
    hsla(0, 0%, 0%, 0.951) 20.8%,
    hsla(0, 0%, 0%, 0.896) 29.6%,
    hsla(0, 0%, 0%, 0.825) 37.5%,
    hsla(0, 0%, 0%, 0.741) 44.6%,
    hsla(0, 0%, 0%, 0.648) 51%,
    hsla(0, 0%, 0%, 0.55) 57%,
    hsla(0, 0%, 0%, 0.45) 62.5%,
    hsla(0, 0%, 0%, 0.352) 67.7%,
    hsla(0, 0%, 0%, 0.259) 72.7%,
    hsla(0, 0%, 0%, 0.175) 77.8%,
    hsla(0, 0%, 0%, 0.104) 82.9%,
    hsla(0, 0%, 0%, 0.049) 88.2%,
    hsla(0, 0%, 0%, 0.013) 93.9%,
    hsla(0, 0%, 0%, 0)
  );
  color: white;
  pointer-events: none;
}
#navbar-black #mode-black {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar-black #mode-black:hover {
  transform: rotate(-15deg);
}

#navbar-black #logo-black {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  font-size: 1.6vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

#p-black {
  position: relative;
}
#dot-black {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar-black #logo-black span {
  display: inline-block;
}
#navbar-black #logo-black img {
  height: 1.2vw;
  filter: invert(1);
}

#navbar-black #menu-black {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: white;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}
#navbar-black #menu-black:hover {
  transform: scale(1.15);
}

#mobile-logo-black {
  display: none;
}

#menu-c-black {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c-black h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: white;
}
/* black nav end */
#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 5;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5vw;
}
#top-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#navigation-link {
  display: flex;
  flex-direction: column;
}
#navigation-link a {
  font-family: heading1;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  margin-bottom: 1vw;
  opacity: .5;
  letter-spacing: 1px;
}
#navigation-link a:nth-child(5){
  opacity: 1;
  font-weight: 600;
}
#top-container .common-btn{
  text-decoration: none;
}
#top-container .common-btn .cirr{
  width: .8vw;
  height: .8vw;
}
#top-container .common-btn h3{
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: 100;
}
#btm-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--para);
  padding-top: 3vw;
}
#navigation-social{
  display: flex;
  align-items: center;
  gap: 4vw;
}
#navigation-social a{
  text-decoration: none;
   font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
}

#nav-btn-container{
  display: flex;
  align-items: center;
  gap: 3vw;
}


h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--heading);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--heading);
}
h5,
h6,
p {
  font-family: para2;
  /* font-size: 1.125rem; */
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--para);
}
#main {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  padding: 0 0 9vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  background-color: var(--primary);
}
.line-container {
  width: 5px;
  height: 20vw;
  position: absolute;
  bottom: -15vw;
  left: 30.01%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.draw-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 1px;
  height: 20vw;
  background: linear-gradient(to bottom, transparent, var(--secondary));
}
.circle-line {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary);
}

#watch {
  width: 13vw;
  height: 13vw;
  margin-bottom: 5vw;
  margin-left: 25%;
  position: relative;
}
#watch img {
  width: 100%;
  height: 100%;
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.watch-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.watch-over h6 {
  text-align: center;
  line-height: 1.1;
  font-size: 0.8vw;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--heading);
}

#page1 h2 {
  margin-left: 30%;
  margin-bottom: 2vw;
  color: var(--heading);
}
#page1 .common-btn {
  margin-left: 30%;
}

#connect-section {
  width: 100%;
  background-color: var(--primary);
  padding: 20vw 0 2vw;
  padding-left: 30%;
}

#connect-section h2:nth-child(1) {
  font-weight: 100 !important;
  font-family: heading1 !important;
}
#contact-form {
  position: absolute !important;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary);
  z-index: 1;
  padding-left: 30%;
}
#contact-form.contact-form-mobile {
  display: none;
}
#contact-form .lineUnder::before {
  background-color: var(--primary) !important;
}
.phone-input {
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
}
.phone-input input {
  border-bottom: none !important;
}
.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent !important;
}
.iti {
  width: 100% !important;
  height: 100% !important;
}
.iti__flag-container {
  width: 25%;
}
.iti__country-list,
.iti__selected-flag {
  font-family: para3;
  font-size: 1.05vw;
  line-height: 1.3;
  font-weight: 500;
  color: var(--primary);
}
.iti__country-list {
  width: 400% !important;
  background-color: var(--secondary);
  overflow-x: hidden;
}

#phone-placeholder {
  left: 25% !important;
}
#form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-right: 6vw;
}

#left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left h2 {
  margin-bottom: 1vw;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 1px;
}

#right {
  width: 100%;
  height: 100%;
}

#form .common-btn {
  margin-top: 2vw;
}

#form .common-btn .cirr {
  background-color: var(--primary);
}

#form .common-btn:hover .cirr {
  background-color: var(--primary);
}
#form .common-btn .cirr i {
  color: var(--secondary);
}

#form .common-btn h3 {
  color: var(--primary);
}

#form .common-btn h3::after {
  background-color: var(--primary);
}

#right form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#right form p {
  width: 100%;
  color: var(--primary);
  line-height: 1.5;
  margin-top: 2vw;
  font-size: 0.9vw;
}
#right form p a {
  text-decoration: none;
  color: var(--primary);
}
#right form p span {
  opacity: 0.6;
}
#right form .input {
  width: 47%;
  margin-bottom: 1.5vw;
  position: relative;
}
.linei {
  width: 100%;
  height: 0.08vw;
  background-color: var(--primary);
  position: absolute;
  bottom: 0%;
  left: 0;
  transform-origin: left; /* Scale starts from the left initially */
  transform: scaleX(0);
}

#apply-form .linei {
  background-color: white;
}

#right form .input.active h6 {
  top: 0%;
  font-size: 0.9vw;
  opacity: 0.5;
}
#right form .input h6,
#right form .textarea h6 {
  /* font-size: 0.9vw; */
  /* font-weight: 400; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--primary);
  transition: all ease 0.3s;
  text-transform: capitalize;
  opacity: 0.5;
}
#right form .textarea h6 {
  top: 15%;
}
#right form .textarea.active h6 {
  top: 0%;
  font-size: 0.9vw;
  opacity: 0.5;
}
#right form input {
  flex-shrink: 0;
  width: 100%;
  padding: 1vw 0;
  background-color: transparent;
  border: none;
  color: var(--primary);
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}
#right form input::placeholder {
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}
#right form .textarea {
  width: 100%;
  position: relative;
  height: 12vh;
}
#right form textarea {
  padding: 1vw 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
  font-size: 1.1rem !important;
  color: var(--primary);
}

#mobile-logo {
  display: none;
}
#mobile-logo img {
  width: 100%;
}

#career h2,
#career h5,
#career h6 {
  color: var(--secondary);
}

#career {
  min-height: 50vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#career-btm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10vw 0 6vw;
  width: 50%;
  margin-left: 30%;
}
#career-btm h2 {
  width: 100%;
  font-weight: 600 !important;
  margin-bottom: 2vw;
  letter-spacing: 1px;
  color: var(--heading);
}
.career-btm-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.career-btm-text h5 {
  width: 95%;
  margin-bottom: 1vw;
  color: var(--para) !important;
}
.career-btm-text h5 span {
  color: var(--heading) !important;
  font-weight: 600;
  letter-spacing: 1px;
}

#page3 {
  min-height: 50vh;
  width: 100%;
  padding: 2vw 0 5vw;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  pointer-events: auto;
}

#slide1 {
  width: 50%;
  line-height: 1;
  margin-left: 30%;
}

#slide1 h2 {
  margin-bottom: 2.5vw;
  font-weight: 600;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
#slide1 #p1 {
  margin-top: 1vw;
}
#slide1 p {
  font-family: para3;
  font-size: 1.2vw;
  line-height: 1.4;
  font-weight: 400;
  color: black;
}
#slide2 {
  width: 50%;
  margin-left: 30%;
}

.accordion {
  width: 100%;
}
.accordion.active h2 {
  opacity: 1 !important;
}
.accordion h2 {
  opacity: 0.5 !important;
}
.accordion h2 {
  transition: all ease 0.3s;
}
.accordion h2:hover {
  opacity: 1 !important;
}
.accordion-title {
  width: 100%;
  padding: 2vw 0;
  border-top: 1px solid rgba(128, 128, 128, 0.745);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion-title .plus {
  position: relative;
  height: 1.8vw;
  width: 1.8vw;
  cursor: pointer;
}
.accordion-title .plus .line1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0.01vw;
  background-color: var(--secondary);
}
.accordion.active .accordion-title .plus .line2 {
  height: 0;
}
.accordion-title .plus .line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.01vw;
  height: 100%;
  background-color: var(--secondary);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.accordion-title h2 {
  font-size: 2vw;
  letter-spacing: 1px;
}
.accordion.active .accordion-dec {
  height: 37vw;
}
.accordion-dec {
  overflow: hidden;
  height: 0vw;
  display: flex;
  flex-direction: column;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.accordion-dec h5,
.accordion-dec h6 {
  /* font-size: 1.05vw; */
  color: var(--heading) !important;
}
.accordion-dec .common-btn {
  margin-top: 2vw;
}

.accordion-dec p {
  width: 85%;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--para);
}
.accordion-dec p .about-v {
  margin: 2vw 0;
}
.accordion-dec ul {
  list-style: disc;
  padding-left: 0.9rem; /* or adjust as needed */
}
.accordion-dec ul li::marker {
  font-size: 0.6em; /* This works in modern browsers */
}
.accordion-dec ul li {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--para);
  margin-bottom: 0.3vw;
}
.row h6 {
  opacity: 0.7;
  color: var(--secondary);
}
.accordion-dec .row h5 {
  padding: 0;
  color: var(--secondary);
}

.accordion-dec .row2 h5 {
  padding: 0;
  color: var(--secondary);
}

.accordion-dec h5 {
  width: 100%;
  letter-spacing: 1px;
  padding: 3vw 0vw 0.5vw;
  padding-top: 1vw;
  color: var(--secondary);
  font-weight: 600;
}

#popup-apply {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.099);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  opacity: 0;
}
#apply-form {
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 2.3vw 3.8vw;
}
#cross {
  position: absolute;
  top: 2.3vw;
  right: 2vw;
  font-size: 1.3vw;
  cursor: pointer;
  color: white;
}
#from-left {
  width: 100%;
  height: 100%;
}
#from-left h2,
#from-left h5 {
  color: white;
}
#from-left h2 {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--heading);
}
#from-left h5 {
  margin-bottom: 0.8vw;
  color: var(--para);
}

#from-right {
  width: 100%;
  height: 100%;
  padding-top: 2vw;
}

#from-right form {
  display: flex;
  flex-direction: column;
}

#from-right form .pop-input {
  width: 100%;
  margin-bottom: 3vw;
  position: relative;
}
#from-right form .pop-input h6 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
  transition: all ease 0.3s;
  text-transform: capitalize;
  opacity: 0.5;
}

#from-right form .pop-input.active h6 {
  top: 0%;
  font-size: 1rem;
  font-weight: 500 !important;
  font-family: para2 !important;
  line-height: 1.4;
  opacity: 0.5;
}

#file {
  display: none;
}

#from-right form input {
  width: 100%;
  padding: 1vw 0;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
}
#from-right .common-btn {
  margin-bottom: 2vw;
}
#Uplaod {
  padding: 0.3vw 1vw;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.447);
  width: fit-content;
  margin-bottom: 3vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}
#Uplaod i {
  font-size: 1vw;
  color: white;
}
#Uplaod h5 {
  font-size: 1vw;
  color: white;
}

#from-right form p {
  width: 35%;
  font-family: para2;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.3;
  color: white;
}
#from-right form p span {
  opacity: 0.4;
}

#from-right form p a {
  text-decoration: none;
  opacity: 1;
  color: white;
}

.splide {
  position: relative;
  height: 100vh;
  padding: 5vw 0;
  background-color: var(--primary);
}

.splide__slide {
  width: auto !important; /* Prevent width from increasing */
  min-width: 500px; /* Set a minimum width */
  max-width: 500px; /* Set a max width */
  height: 30vw;
  text-align: center;
  background: rgba(128, 128, 128, 0.214);
  margin: 0 5px;
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%) contrast(120%);
}

.splide__arrow {
  display: none !important;
}
.splide__pagination {
  display: none !important;
}
#address-cont {
  width: 100%;
  padding-left: 30%;
  display: flex;
  padding-right: 6vw;
  margin-top: 3vw;
}
#address-cont div {
  width: 40%;
}
#address-cont div h2 {
  font-size: 1.4vw !important;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1vw;
}
#address-cont div p {
  color: var(--para);
}
#page4 {
  width: 100%;
  padding: 2vw 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--primary);
}
#page4 #hire-btn {
  height: 2.5vw;
}

#page4 h2 {
  font-size: 2vw !important;
  letter-spacing: 1px;
  margin-bottom: 1vw;
}
#works {
  margin-top: 3vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#works .work {
  width: 26vw;
  height: 26vw;
}

.work-text-wrap {
  height: 3.5vh;
  overflow: hidden;
}
.work-text-wrap h5 {
  font-family: para3;
  font-size: 2.3vh;
  font-weight: 500;
  text-transform: capitalize;
  transition: all ease 0.3s;
  transform: translateY(100%) rotate(25deg);
  transform-origin: left;
  color: var(--heading);
}
#works .work:hover h5 {
  transform: translateY(0%) rotate(0deg);
}
#works .work img {
  width: 100%;
  height: calc(100% - 3.5vh);
  object-fit: cover;
}
#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color:var(--primary);
  padding: 6vw;
  color: var(--secondary);
  display: flex;
  align-items: flex-end;
}

#footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ft-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#ft-left img{
  width: 4vw;
}
#ft-left h2 {
  font-size: 2vw;
  letter-spacing: 0.5px;
  color: var(--para);
}
#ft-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:4vw;
}
#footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-links a {
  width: calc(100% / 3);
  text-decoration: none;
  color: var(--heading);
  font-family: heading3;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.5vw;
  letter-spacing: 1px;
}
#bottom-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-links a {
  width: calc(100% / 3);
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 1vw;
}
#footer #social {
  display: flex;
  gap: 5vw;
}
#footer #social h5{
  margin-bottom: .5vw;
}
#ft-right h5 {
  color: var(--heading);
  font-family: heading5;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.heading-ft{
   font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: .5vw;
}
#input-box input{
  width: 100%;
  padding: .8vw 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--para);
}
.social-links{
  display: flex;
  flex-direction: column;
}
.address-link{
     font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.social-links a{
  text-decoration: none;
   font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.01vw;
  background-color: var(--secondary);
  transition: all ease 0.3s;
}
.lineUnder:hover:before {
  width: 100%;
}
.linewrap {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.lastft {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.custom-dropdown {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  /* font-size: .9vw; */
  /* font-weight: 400; */
  text-transform: capitalize;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  padding: 1vw 0;
}

.last {
  /* padding: 1vw 0 !important; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.745);
}

.dropdown-selected {
  width: 100%;
  height: 100%;
  color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.dropdown-selected-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-selected-wrap i {
  color: var(--primary);
  font-size: 1.1vw;
  transition: transform 0.3s ease;
}
.dropdown-selected-wrap.open i {
  transform: rotate(180deg); /* Arrow points up */
}

.dropdown-options {
  display: none;
  position: absolute;
  top: calc(100% + 1.1vw);
  width: 100%;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  border-top: none;
  overflow: hidden;
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  color: var(--primary);
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.common-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.common-btn .cirr {
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

.common-btn:hover .cirr {
  width: 0.9vw;
  height: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
.common-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 0.5vw;
  display: none;
}

.common-btn:hover .cirr i {
  display: block;
}

.common-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
  text-transform: uppercase;
}
.common-btn:hover h3 {
  margin-right: 0;
}

.common-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--heading);
  height: 0.01vw;
  transition: all ease 0.3s;
}
.common-btn:hover h3::after {
  width: 0;
}

@media (max-width: 600px) {
  #navbar {
    padding: 10vw 4vw;
  }
  #navbar-black {
    padding: 10vw 4vw;
  }
  #navbar #menu {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar-black #menu-black {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar #logo,
  #navbar-black #logo-black {
    display: none;
  }
  #logo,
  #logo-black {
    display: none;
  }
  #mobile-logo {
    width: 45%;
    display: block;
    filter: invert(1);
  }
  #mobile-logo-black {
    display: block;
  }
  #mobile-logo-black img {
    width: 40%;
    filter: invert(1);
  }
  #navbar-black #mode-black {
    display: none;
  }
  #mode {
    display: inline-block;
    font-size: 5vw !important;
  }

  #navigation {
    padding: 6vw;
    justify-content: space-between;
    padding-top: 25vh;
  }

  #top-container {
    flex-direction: column;
    align-items: start;
    gap: 5vw;
  }
  #navigation-link a {
    font-size: 11.5vw;
    margin-bottom: 4vw;
  }

  #top-container .common-btn h3{
    font-size: 5vw;
  }
  #top-container .common-btn .cirr{
    width: 2.5vw;
    height: 2.5vw;
  }
  #btm-container {
    flex-direction: column-reverse;
    align-items: start;
    gap: 5vw;
    padding-top: 5vw;
  }
  #navigation-social{
    width: 100%;
    justify-content: space-between;
  }
  #navigation-social a{
    font-size: 4vw;
  }
  #page1 {
    padding: 30vw 4vw;
    padding-bottom: 40vh;
    min-height: 100vh;
    height: auto;
  }
  #page1 h2 {
    font-size: 5vw;
  }

  #watch {
    width: 35vw;
    height: 35vw;
    margin-bottom: 15vw;
  }
  .watch-over h6 {
    font-size: 3vw;
  }
  #contact-form.contact-form-mobile {
    display: flex;
    position: static !important;
  }
  #image-slider #contact-form {
    display: none;
  }
  #contact-form {
    padding: 10vw 4vw;
    height: auto;
    position: static;
  }
  #form {
    padding: 0;
    height: fit-content;
  }
  #left {
    height: fit-content;
    margin-bottom: 8vw;
  }
  #left h2 {
    font-size: 7vw;
  }
  #right form input {
    font-size: 1.2rem;
  }
  #right form .input h6 {
    font-size: 1.2rem;
  }
  .dropdown-selected {
    font-size: 1.2rem;
  }
  #address-cont {
    flex-direction: column;
    gap: 5vw;
  }
  #address-cont div {
    width: 100%;
  }
  .splide {
    height: fit-content;
    padding: 10vw 0;
  }
  #address-cont {
    padding: 0 4vw;
    padding-top: 10vw;
  }
  .splide__slide {
    height: 75vw;
  }
  #page3 {
    height: 100vh;
    min-height: 0;
  }
  #address-cont div h2 {
    font-size: 4vw !important;
    margin-bottom: 2vw;
  }
  #address-cont div p {
    font-size: 1.2rem;
  }
  #address-cont div p br {
    display: none;
  }
  .iti--separate-dial-code .iti__selected-dial-code {
    font-size: 1.1rem;
    opacity: 0.5;
    font-size: 400;
  }
  .dropdown-selected-wrap i {
    font-size: 1.2rem;
  }
  #right form p {
    font-size: 1rem;
    margin-top: 5vw;
  }
  #form .common-btn {
    margin-top: 6vw;
  }
  #right form textarea {
    font-size: 1.2rem;
  }
  #right form .textarea h6 {
    font-size: 1.2rem;
  }

  #right {
    height: fit-content;
  }
  #right form .input {
    width: 100%;
    margin-bottom: 5vw;
  }
  #right form input {
    padding: 4vw 0;
  }
  .custom-dropdown {
    padding: 4vw 0;
  }
  #contact-wrapper {
    flex-direction: column;
    gap: 30vw;
  }
  .left-section,
  .right-section {
    width: 100%;
  }

  .right-section h5 {
    font-family: para2;
    /* font-size: 1.1vw; */
    font-size: 1.125rem;
    line-height: 1.35;
    font-weight: 500;
    color: var(--secondary);
  }
  .right-section a {
    font-family: para2;
    /* font-size: 1.1vw; */
    font-size: 1.125rem;
    line-height: 1.35;
    font-weight: 500;
    color: var(--secondary);
  }
  .address-link {
    margin: 6vw 0;
  }
  .right-section #find-us {
    margin-top: 16vw;
  }
  #call-Schedule p,
  #call-Schedule p:nth-child(2) {
    font-family: para2;
    /* font-size: 1.1vw; */
    font-size: 1.125rem;
    line-height: 1.35;
    font-weight: 500;
    color: var(--secondary);
  }
  #call {
    margin-bottom: 2vw !important;
  }
  #career {
    padding: 10vw 4vw;
  }
  #career-btm {
    flex-direction: column;
    border: none;
    gap: 4vw;
    margin: 0;
    width: 100%;
  }
  #career-btm h2 {
    width: 100%;
    font-size: 7vw;
  }
  .career-btm-text h5 {
    font-size: 1.2rem;
    width: 100%;
  }
  .career-btm-text {
    width: 100%;
  }
  #connect-section {
    padding: 10vw 4vw;
  }
  #connect-section h2 {
    font-size: 7vw;
  }
  .line-container {
    display: none;
  }
  #page3 {
    flex-direction: column;
    padding: 4vw;
    height: fit-content;
  }
  #page4 {
    padding: 10vw 4vw;
  }
  #page4 h2 {
    font-size: 4vw !important;
    margin-bottom: 4vw;
  }
  #works {
    flex-direction: column;
    gap: 5vw;
    margin-top: 10vw;
  }
  #works .work {
    width: 100%;
    height: 100vw;
  }
  #slide1 {
    width: 100%;
    margin: 0;
  }
  #slide2 {
    width: 100%;
    margin: 0;
  }
  #slide1 h2 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
  .accordion-dec p {
    font-size: 1.2rem;
    width: 100%;
  }
  .accordion-title h2 {
    font-family: para2;
    /* font-size: 1.1vw; */
    font-size: 1.125rem;
    line-height: 1.35;
    font-weight: 500;
    color: var(--secondary);
  }
  .accordion-dec h5 {
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 4vw;
  }
  .accordion-dec ul li {
    font-size: 1.2rem;
  }
  .accordion.active .accordion-dec {
    height: 200vw;
  }
  .accordion-title {
    padding: 4vw 0;
  }
  .common-btn {
    gap: 2.5vw;
  }
  .common-btn h3 {
    font-size: 3vw;
  }
  .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }

  
  #footer{
    height: auto;
  }

  #footer-container {
    flex-direction: column;
    gap: 20vw;
  }
  #ft-left img {
    width: 10vw;
  }
  #ft-left h2 {
    font-size: 5vw;
    line-height: 1.3;
  }
  #ft-left {
    gap: 12vw;
  }
  #footer-links a  {
    margin-bottom: 5vw;
  }
  #bottom-links a {
    font-size: 1.2rem;
  }
  #ft-right{
    gap: 12vw;
  }
  .heading-ft {
    font-size: 1.2rem;
    margin-bottom: 2vw;
  }
  .address-link{
    font-size: 1.2rem;
  }
  .social-links a {
    font-size: 1.2rem;
  }
  #footer #social h5 {
    margin-bottom: 2vw;
  }
  #input-box input{
    font-size: 1.2rem;
    padding: 4vw 0;
  }
  #footer #social {
    gap: 16vw;
  }

}
