@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --invert-filter: invert(0);
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 2vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  transform: translateY(-100%);
  pointer-events: none;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
}

#dot {
  opacity: 0;
}

#navbar #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}

#navbar #logo span {
  display: inline-block;
}
#navbar #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--secondary);
}
#menu-c {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}

#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  padding: 2.3vw 2vw;
}
#leftm {
  position: relative;
  width: 58%;
  height: 100%;
  display: flex;
  align-items: end;
}
#rightm {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10vh;
  padding-bottom: 8vw;
}
#rightm h5,
#rightm h2,
#leftm h5 {
  cursor: pointer;
  width: fit-content;
}

#shape-select a {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.3;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  display: block;
  width: fit-content;
}

#social-l {
  margin-top: 4vh;
}
#social-l a {
  font-family: para3;
  font-size: 1.2vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
  text-decoration: none;
  display: block;
  width: fit-content;
}
#shape-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18vw;
  height: 18vw;
}
#shape1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  transform-origin: center;
}
#shape2 {
  position: absolute;
  opacity: 0;
  transform: rotate(40deg) scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  transform-origin: center;
}
#shape2-in {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: var(--primary);
  clip-path: circle(50% at 50% 50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#shape3 {
  position: absolute;
  opacity: 0;
  transform: rotate(40deg) scale(0.9);
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  clip-path: circle(40% at 50% 50%);
}
#shape4 {
  position: absolute;
  opacity: 0;
  transform: rotate(40deg) scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
}
#shape4-in {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: var(--primary);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shape5 {
  position: absolute;
  opacity: 0;
  transform: rotate(40deg) scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

#shape6 {
  position: absolute;
  opacity: 0;
  transform: rotate(40deg) scale(0.9);
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

#nav-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vw;
  padding: 2vw;
}
#nav-lef {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hire-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
  user-select: none;
}

#hire-btn .cirr {
  width: 0.6vw;
  height: 0.6vw;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

#hire-btn:hover .cirr {
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
#hire-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 1vw;
  display: none;
}

#hire-btn:hover .cirr i {
  display: block;
}

#hire-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 1.2vw;
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary);
}
#hire-btn:hover h3 {
  margin-right: 0;
}

#hire-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--secondary);
  height: 0.1vw;
  transition: all ease 0.3s;
}
#hire-btn:hover h3::after {
  width: 0;
}

h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.3;
  font-size: 3vw;
  color: var(--secondary);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  font-size: 3vw;
}
h5,
h6 {
  font-family: para3;
  font-size: 1.2vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}
.text-splite span {
  display: inline-block;
}

#main {
  width: 100%;
  background-color: var(--primary);
}

#page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  position: relative;
}

#page1 h2 {
  position: absolute;
  top: 20vh;
  left: 2vw;
  font-size: 7vw;
}

#page1 img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  transform: translateY(0vh);
  position: absolute;
  object-position: 50% 0;
}

#page2 {
  height: 120vh;
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#page2 #space {
  height: 65vh;
}
#page2 h2 {
  width: 60%;
  font-size: 2.4vw;
}

#page2 #text-con {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4vw;
}

#page2 #text-para {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#viewMore {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}
#viewMore i {
  transition: all ease 0.2s;
  color: var(--secondary);
  font-family: para3;
  font-weight: 500;
  font-size: 1vw;
}

#viewMore:hover i {
  transform: scale(0);
  opacity: 0;
}
#viewMore h3::before {
  content: "";
  position: absolute;
  top: 28%;
  left: -1.2vw;
  width: 0.5vw;
  height: 0.5vw;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  transform: scale(0);
  opacity: 0;
  transition: all ease 0.2s;
}
#viewMore:hover h3::before {
  transform: scale(1);
  opacity: 1;
  color: var(--secondary);
}
#viewMore h3 {
  position: relative;
  font-family: para3;
  font-weight: 500;
  font-size: 1vw;
  color: var(--secondary);
}

#page2 #service {
  width: 45%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vw;
}

#page2 #service .ser {
  width: 25%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1vw;
  text-transform: capitalize;
}
#page2 #service .ser h5 {
  font-size: 1.1vw;
  font-family: para3;
  font-weight: 300;
}

#page2 #service .ser h3 {
  font-size: 1.2vw;
  font-family: para3;
  font-weight: 400;
  color: var(--secondary);
}

#page3 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 5vw;
}

#fullView-container {
  padding: 0 2vw;
  display: flex;
  flex-direction: column;
  gap: 6.5vw;
  padding-top: 10vw;
  padding-bottom: 3vw;
}

#overView-container {
  display: none;
  opacity: 0;
  width: 100%;
  padding: 0 2vw;
  flex-wrap: wrap;
  gap: 1vw;
  padding-top: 10vw;
  justify-content: space-between;
  padding-bottom: 2vw;
}

#overView-container .over-card {
  width: 23.9%;
  height: 60vh;
  margin-bottom: 1vw;
  overflow: hidden;
}
#overView-container .over-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overView-container .small {
  height: 30vh;
}

#overview-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding: 2vw 0;
  padding-top: 7vw;
}
#overview-text h2 {
  width: 50%;
}
#overview-text .about {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
#overview-text .lf,
#overview-text .rt {
  width: 50%;
}

#page3 .showcase {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
  overflow: hidden;
}
#page3 .showcase img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3 .showcase .elem {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#page3 .showcase .elem h5 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.3vw;
}

#page3 .showcase .elem h2 {
  width: 70%;
  margin: 1vw auto;
}

#overview {
  width: 26vw;
  height: 4.7vw;
  background-color: white;
  position: sticky;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  padding: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
  border-radius: 8px !important;
}
#full-view {
  width: 60%;
  height: 100%;
  background-color: black;
  border-radius: 6px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;
  cursor: pointer;
}
#full-view h1 {
  color: white;
  font-size: 1.5vw;
  font-family: para3;
  font-weight: 400;
  transition: all ease 0.3s;
}

#over-view {
  width: 40%;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 6px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

#over-view h1 {
  color: black;
  font-size: 1.5vw;
  font-family: para3;
  font-weight: 400;
  cursor: pointer;
  transition: all ease 0.3s;
}

#page4 {
  min-height: 50vh;
  width: 100%;
  padding: 2vw;
}

#page4 h3 {
  font-family: heading2;
  text-transform: uppercase;
  font-size: 1.2vw;
  color: var(--secondary);
}
#next-projects {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5vw;
  padding-top: 2.5vw;
}

#next-projects .next-p {
  height: 60vh;
  width: 50%;
  overflow: hidden;
}
#next-projects .next-p img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(1.1);
}

#mobile-logo {
  display: none;
}
#mobile-logo img {
  width: 40%;
}

.text-mobile {
  display: none;
}

@media (max-width: 600px) {
  #navbar {
    padding: 10vw 7vw;
  }
  #navbar #menu {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar #logo {
    display: none;
  }
  #logo {
    display: none;
  }
  #mobile-logo {
    display: block;
  }
  #mode {
    display: none;
  }

  #navigation {
    padding: 4vw 7vw;
  }

  #leftm {
    display: none;
  }

  #rightm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    padding-bottom: 8vw;
  }

  #shape-select a {
    font-family: heading3;
    font-size: 12vw;
  }

  #social-l a {
    font-family: para3;
    font-size: 4.5vw;
  }

  #nav-lef {
    width: 65%;
  }

  #hire-btn h3 {
    margin-right: 1vw;
    font-size: 4.5vw;
    white-space: nowrap;
  }
  #nav-btm {
    height: auto;
    padding: 6vw 7vw;
  }
  #page1 {
    height: 85vh;
  }
  #page1 h2 {
    position: absolute;
    top: 15vh;
    left: 6vw;
    font-size: 14vw;
  }
  #page2 {
    min-height: 170vh !important;
    padding: 10vw 7vw;
    padding-bottom: 0vw;
  }
  #page2 #space {
    height: 60vh;
  }
  #page2 #text-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-top: 4vw;
  }
  #page2 #text-para {
    width: 100%;
  }
  #page2 #service {
    width: 100%;
    gap: 10vw;
    margin-top: 15vw;
  }
  .text-splite {
    display: none;
  }
  .text-mobile {
    display: block;
    font-size: 8vw !important;
    width: 100% !important;
    margin-bottom: 8vw;
  }
  #viewMore {
    margin-top: 8vw;
  }
  #viewMore i {
    font-size: 4.5vw;
  }
  #viewMore h3 {
    font-size: 4.5vw;
  }
  #page2 #service .ser {
    width: 42%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 1vw;
    text-transform: capitalize;
  }
  #page2 #service .ser h5 {
    font-size: 4.5vw;
  }
  #page2 #service .ser h3 {
    font-size: 4.5vw;
    font-family: para3;
    font-weight: 400;
    color: var(--secondary);
  }
  #page2 h5,
  h6 {
    font-size: 4.5vw;
    width: 100%;
  }
  #page3 .showcase .elem.elemtxt{
    height: fit-content !important;
  }
  #fullView-container {
    padding: 0 7vw;
    gap: 6.5vw;
    padding-top: 10vw;
    padding-bottom: 3vw;
  }
  #page3 .showcase {
    width: 100%;
    height: 29vh;
    display: flex;
    justify-content: space-between;
    gap: 6.5vw;
    overflow: hidden;
  }
  .showcase-mobile {
    height: auto !important;
    flex-direction: column;
  }
  .showcase-mobile .elem {
    width: 100% !important;
    height: 55vh !important;
  }
  #page3 .showcase .elem h5 {
    width: 100%;
    font-size: 4.5vw;
    margin-bottom: 1.3vw;
  }
  #page3 .showcase-mobile .elem-txt {
    height: fit-content !important;
  }
  #page3 .showcase .elem h2 {
    width: 100%;
    font-size: 5vw;
    margin: 1vw auto;
  }
  #page4 {
    min-height: 30vh;
    width: 100%;
    padding: 10vw 7vw;
  }
  #next-projects {
    flex-direction: column;
    gap: 8vw;
  }
  #next-projects .next-p {
    height: 25vh;
    width: 100%;
    margin-top: 2vw;
  }
  #page4 h3 {
    font-family: heading3;
    font-size: 8vw;
  }

  #overview {
    display: none;
  }
}
