@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --heading: #c0bfbf;
  --para: #717171;
  --invert-filter: invert(0);
  --light-line: #cbcbcb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
#cursor {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  pointer-events: none;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar #mode:hover {
  transform: rotate(-15deg);
}

#navbar #logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}

#p {
  position: relative;
}
#dot {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar #logo span {
  display: inline-block;
}
#navbar #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--secondary);
  transition: all ease 0.3s;
}
#navbar #menu:hover {
  transform: scale(1.15);
}
#menu-c {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}

/* black nav */

#navbar-black {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 9999;
  opacity: 0;
  display: flex;
  align-items: center;
  mix-blend-mode: difference;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  background: linear-gradient(
    180deg,
    #000000 0,
    hsla(0, 0%, 0%, 0.987) 11%,
    hsla(0, 0%, 0%, 0.951) 20.8%,
    hsla(0, 0%, 0%, 0.896) 29.6%,
    hsla(0, 0%, 0%, 0.825) 37.5%,
    hsla(0, 0%, 0%, 0.741) 44.6%,
    hsla(0, 0%, 0%, 0.648) 51%,
    hsla(0, 0%, 0%, 0.55) 57%,
    hsla(0, 0%, 0%, 0.45) 62.5%,
    hsla(0, 0%, 0%, 0.352) 67.7%,
    hsla(0, 0%, 0%, 0.259) 72.7%,
    hsla(0, 0%, 0%, 0.175) 77.8%,
    hsla(0, 0%, 0%, 0.104) 82.9%,
    hsla(0, 0%, 0%, 0.049) 88.2%,
    hsla(0, 0%, 0%, 0.013) 93.9%,
    hsla(0, 0%, 0%, 0)
  );
  color: white;
  pointer-events: none;
}
#navbar-black #mode-black {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar-black #mode-black:hover {
  transform: rotate(-15deg);
}

#navbar-black #logo-black {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  font-size: 1.6vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

#p-black {
  position: relative;
}
#dot-black {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}

#navbar-black #logo-black span {
  display: inline-block;
}
#navbar-black #logo-black img {
  height: 1.2vw;
  filter: invert(1);
}

#navbar-black #menu-black {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: white;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}
#navbar-black #menu-black:hover {
  transform: scale(1.15);
}

#mobile-logo-black {
  display: none;
}

#menu-c-black {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  pointer-events: all;
  cursor: pointer;
}
#menu-c-black h5 {
  font-family: para3;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 400;
  color: white;
}
/* black nav end */
#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 5;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5vw;
}
#top-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#navigation-link {
  display: flex;
  flex-direction: column;
}
#navigation-link a {
  font-family: heading1;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  margin-bottom: 1vw;
  opacity: .5;
  letter-spacing: 1px;
}
#navigation-link a:nth-child(3){
  opacity: 1;
  font-weight: 600;
}
#top-container .common-btn{
  text-decoration: none;
}
#top-container .common-btn .cirr{
  width: .8vw;
  height: .8vw;
}
#top-container .common-btn h3{
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: 100;
}
#btm-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--para);
  padding-top: 3vw;
}
#navigation-social{
  display: flex;
  align-items: center;
  gap: 4vw;
}
#navigation-social a{
  text-decoration: none;
   font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
}

#nav-btn-container{
  display: flex;
  align-items: center;
  gap: 3vw;
}


h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
}
h5,
h6,
p {
  font-family: para2;
  /* font-size: 1.125rem; */
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--para);
}
#main {
  width: 100%;
  background-color: var(--primary);
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding: 10vw 0;
  padding-bottom: 0;
  display: flex;
}
#page2 #wrap1 {
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
#wrap1 img {
  width: 12vw;
  height: 12vw;
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.line-container {
  width: 5px;
  height: 40vw;
  position: absolute;
  top: 12vw;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.draw-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 1px;
  height: 40vw;
  background: linear-gradient(to bottom, transparent, var(--secondary));
}
.circle-line {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary);
}

#page2 #wrp {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
#lfs {
  width: 100%;
}
#lfs h2 {
  line-height: 1.2;
  color: var(--heading) !important;
  letter-spacing: 1px;
}
#lfs h5 {
  width: 65%;
  margin-top: 1vw;
}
#rts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
#rts .service {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2vw;
}
#rts .service:nth-child(1),
#rts .service:nth-child(2) {
  margin-bottom: 2.5vw;
}

#rts .common-btn {
  margin-top: 1vw;
}
#rts .service h2 {
  font-family: heading5;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: .8vw;
  text-transform: uppercase;
  color: var(--heading) !important;
}
#rts .service h5 {
  position: relative;
  width: fit-content;
  line-height: 1;
  /* margin-bottom: 0.8vw; */
  padding: 0.4vw 0;
  font-size: 1vw;
  color: var(--para) !important;
  cursor: default;
  padding-left: 10px;
}
#rts .service h5::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 2.5px;
  height: 2.5px;
  background-color: var(--para);
  border-radius: 50%;
}

#more-btn {
  width: fit-content;
  height: 3vw;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
  user-select: none;
  margin-top: 1vw;
}

#more-btn .cirr {
  width: 0.6vw;
  height: 0.6vw;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

#more-btn:hover .cirr {
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
#more-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 1vw;
  display: none;
}

#more-btn:hover .cirr i {
  display: block;
}

#more-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 1vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--secondary);
}
#more-btn:hover h3 {
  margin-right: 0;
}

#more-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--secondary);
  height: 0.01vw;
  transition: all ease 0.3s;
}
#more-btn:hover h3::after {
  width: 0;
}

#page3 {
  height: 100vh;
  padding: 0 3.8vw;
  padding-top: 10vh;
  padding-bottom: 0;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  position: relative;
  z-index: 9;
}
#page3 #svg-container {
  width: 200vw;
  height: 200vh;
}

#path-c {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  z-index: 999999;
  transition: none;
  opacity: 0;
  pointer-events: none;
}
#page3-mobile {
  width: 100%;
  height: auto;
  display: none;
  padding: 2vw 7vw;
}

#page4 {
  width: 100%;
  height: 100vh;
  padding: 2.3vw 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 8;
}
#page4 > h2 {
  color: var(--heading);
  font-weight: 600;
  letter-spacing: 1px;
}
#approach-wrap {
  width: 100%;
}
#step-three {
  width: 77%;
  height: 2px;
  background-color: var(--light-line);
  margin: 6vw 0 4vw;
  position: relative;
}
.step-loader-bar {
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  left: 0%;
}
#step-three .aprCir {
  position: absolute;
  /* width: .8vw;
  height: .8vw; */
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transform-origin: center;
}
.apr-circle1 {
  left: 0;
  background-color: var(--light-line);
  border: 1px solid var(--light-line);
}
.apr-circle1-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}
.apr-circle2 {
  left: 50%;
  background-color: var(--light-line);
  border: 1px solid var(--light-line);
}
.apr-circle3 {
  left: calc(100% - 0.8vw);
  background-color: var(--light-line);
  border: 1px solid var(--light-line);
}
#approach-content {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#approach-content div {
  width: 28%;
  opacity: 0;
}
#approach-content div h2 {
  font-size: 1.3rem;
  margin-bottom: 2vw;
  width: fit-content;
  color: var(--heading);
  font-weight: 600;
  letter-spacing: 1px;
}
#approach-content div h5 {
  margin-bottom: 1vw;
  color: var(--para);
}
#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color:var(--primary);
  padding: 6vw;
  color: var(--secondary);
  display: flex;
  align-items: flex-end;
}

#footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ft-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#ft-left img{
  width: 4vw;
}
#ft-left h2 {
  font-size: 2vw;
  letter-spacing: 0.5px;
  color: var(--para);
}
#ft-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:4vw;
}
#footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-links a {
  width: calc(100% / 3);
  text-decoration: none;
  color: var(--heading);
  font-family: heading3;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.5vw;
  letter-spacing: 1px;
}
#bottom-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-links a {
  width: calc(100% / 3);
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 1vw;
}
#footer #social {
  display: flex;
  gap: 5vw;
}
#footer #social h5{
  margin-bottom: .5vw;
}
#ft-right h5 {
  color: var(--heading);
  font-family: heading5;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.heading-ft{
   font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: .5vw;
}
#input-box input{
  width: 100%;
  padding: .8vw 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--para);
}
.social-links{
  display: flex;
  flex-direction: column;
}
.address-link{
     font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.social-links a{
  text-decoration: none;
   font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.01vw;
  background-color: white;
  mix-blend-mode: difference;
  transition: all ease 0.3s;
}
.lineUnder:hover:before {
  width: 100%;
}
.linewrap {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.lastft {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#page5 {
  width: 100%;
  padding: 6vw 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary);
  position: relative;
}
#page5 > h2 {
  margin-bottom: 2vw;
  color: var(--heading);
  letter-spacing: 1px;
}

#page5 img {
  width: 20%;
  margin-top: 12vw;
}

#mobile-logo {
  display: none;
}
#mobile-logo img {
  width: 100%;
  filter: invert(1);
}

.common-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  text-decoration: none;
}

.common-btn .cirr {
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

.common-btn:hover .cirr {
  width: 0.9vw;
  height: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
.common-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 0.5vw;
  display: none;
}

.common-btn:hover .cirr i {
  display: block;
}

.common-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
  text-transform: uppercase;
}
.common-btn:hover h3 {
  margin-right: 0;
}

.common-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--heading);
  height: 0.01vw;
  transition: all ease 0.3s;
}
.common-btn:hover h3::after {
  width: 0;
}

@media (max-width: 600px) {
  #navbar {
    padding: 10vw 4vw;
  }
  #navbar-black {
    padding: 10vw 4vw;
  }
  #navbar #menu {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar-black #menu-black {
    height: 5.5vw;
    width: 5.5vw;
    background-color: var(--secondary);
  }
  #navbar #logo,
  #navbar-black #logo-black {
    display: none;
  }
  #logo,
  #logo-black {
    display: none;
  }
  #mobile-logo {
    display: inline-block;
    width: 45%;
  }
  #mobile-logo-black {
    display: block;
  }
  #mobile-logo-black img {
    width: 40%;
    filter: invert(1);
  }
  #navbar-black #mode-black {
    display: none;
  }
  #mode {
    display: inline-block;
    font-size: 5vw !important;
  }

  #navigation {
    padding: 6vw;
    justify-content: space-between;
    padding-top: 25vh;
  }

  #top-container {
    flex-direction: column;
    align-items: start;
    gap: 5vw;
  }
  #navigation-link a {
    font-size: 11.5vw;
    margin-bottom: 4vw;
  }

  #top-container .common-btn h3{
    font-size: 5vw;
  }
  #top-container .common-btn .cirr{
    width: 2.5vw;
    height: 2.5vw;
  }
  #btm-container {
    flex-direction: column-reverse;
    align-items: start;
    gap: 5vw;
    padding-top: 5vw;
  }
  #navigation-social{
    width: 100%;
    justify-content: space-between;
  }
  #navigation-social a{
    font-size: 4vw;
  }
  #page2 #wrap1 {
    display: none;
  }
  #page2 {
    height: auto;
    width: 100%;
    padding: 15vw 4vw;
  }
  #page2 #wrp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8vw;
  }
  #lfs {
    width: 100%;
  }
  #lfs h2 {
    font-size: 7vw;
    font-family: heading3;
  }
  #lfs h2 br {
    display: none;
  }
  #lfs h5 {
    width: 85%;
    line-height: 1.2;
    font-size: 4.5vw;
    margin-top: 6vw;
  }

  #rts {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8vw;
  }
  #rts .service {
    width: 100%;
    margin-bottom: 10vw;
    height: auto;
    gap: 5vw;
  }
  #rts .service h2 {
    font-family: heading5;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
  #rts .service h5::before {
    width: 4px;
    height: 4px;
  }
  #rts .service h5 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: fit-content;
  }

  #more-btn {
    margin: 0;
  }
  #more-btn h3 {
    margin-right: 1vw;
    font-size: 3.8vw;
    color: var(--secondary);
  }
  #more-btn h3::after {
    height: 0.2vw;
  }
  #more-btn .cirr {
    display: none;
  }
  #page1 #overlay {
    padding: 15vw 7vw;
    display: flex;
    align-items: end;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.718));
  }
  #page1 #overlay h2 {
    font-size: 4.5vw;
  }
  #page3 {
    display: none;
  }
  #page3-mobile {
    display: block;
  }
  #approach-wrap {
    display: flex;
    gap: 20px;
  }
  #page4 > h2{
    font-size: 7vw;
    margin-bottom: 5vw;
  }
  #page4{
    padding: 4vw !important;
  }
  #approach-content {
    flex-direction: column;
    gap: 25px;
  }
  #approach-content div {
    width: 100%;
  }
  #step-three {
    width: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-line);
    margin: 0;
    position: relative;
  }
  #step-three .aprCir {
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .apr-circle1 {
    top: 0% !important;
  }
  .apr-circle3 {
    top: 100% !important;
  }
  #page5 {
    padding: 20vw 4vw;
  }
  #page5 > h2 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
  #page5 img {
    width: 40%;
    margin-top: 15vw;
  }

  .common-btn {
    gap: 2.5vw;
  }
  .common-btn h3 {
    font-size: 3vw;
  }
  .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }


  
  #footer{
    height: auto;
  }

  #footer-container {
    flex-direction: column;
    gap: 20vw;
  }
  #ft-left img {
    width: 10vw;
  }
  #ft-left h2 {
    font-size: 5vw;
    line-height: 1.3;
  }
  #ft-left {
    gap: 12vw;
  }
  #footer-links a  {
    margin-bottom: 5vw;
  }
  #bottom-links a {
    font-size: 1.2rem;
  }
  #ft-right{
    gap: 12vw;
  }
  .heading-ft {
    font-size: 1.2rem;
    margin-bottom: 2vw;
  }
  .address-link{
    font-size: 1.2rem;
  }
  .social-links a {
    font-size: 1.2rem;
  }
  #footer #social h5 {
    margin-bottom: 2vw;
  }
  #input-box input{
    font-size: 1.2rem;
    padding: 4vw 0;
  }
  #footer #social {
    gap: 16vw;
  }
}
