@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#cursor{
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  position: fixed;
  background-color: var(--secondary);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}
#navbar{
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2.3vw 2vw;
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  pointer-events: none;
}
#navbar #mode{
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
}

#dot{
  opacity: 0;
}

#navbar #logo{
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}

#navbar #logo span{
  display: inline-block;
}

#navbar #menu{
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--secondary);
  pointer-events: all;
}
h2{
  font-family: heading2;
  font-weight: 100;
  line-height: 1.3;
  font-size: 3vw;
  color: var(--secondary);
}
h2 span{
  font-family: heading2;
  font-weight: 100;
  font-size: 3vw;
}
h5,h6{
  font-family: para3;
  font-size: 1.2vw;
  line-height: 1.4;
  font-weight: 400;
  color: var(--secondary);
}
#main{
  width: 100%;
  background-color: var(--primary);
}


#page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-family: heading5;
  font-size: 9vw;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 4000px;
  overflow: hidden;
}
#page2 h1 {
  font-family: heading5;
  font-size: 9vw;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
}
#video-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotateY(0deg) rotateX(0deg);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 #img-over{
    width: 100%;
    height: 300vh;
    position: absolute;
    top: 100%;
    left: 0;
}

#page2 .img-wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
}
#img-over .ig1{
    position: absolute;
    object-fit:contain;
    width: 28%;
    left: 5%;
    top: 10%;
}
#img-over .ig2{
    position: absolute;
    object-fit:contain;
    width: 25%;
    right: 5%;
    bottom: 5%;
}

#img-over .ig3{
    position: absolute;
    object-fit:contain;
    width: 17%;
    left: 15%;
    top: 0%;
}
#img-over .ig4{
    position: absolute;
    object-fit:contain;
    width: 25%;
    right: 0%;
    bottom: 0%;
}
#img-over .ig5{
    position: absolute;
    object-fit:contain;
    width: 17%;
    left: 5%;
    top: 10%;
}
#img-over .ig6{
    position: absolute;
    object-fit:contain;
    width: 15%;
    right: 5%;
    bottom: 5%;
}

#page3{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 2000px;
  overflow: hidden;
}

#page3 h4{
  font-size: 3.5vw;
  text-align: center;
  font-family: heading2;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  margin-left: 15vw;
  position: relative;
  transform:rotateY(0deg) rotateX(0deg) scale(1) translateX(0%);
  will-change: transform;
  backface-visibility: hidden;
  color: var(--secondary);
}

#page3 h1{
  position: absolute;
  top: 50%;
  left: 26%;
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 500;
  transform-origin: right;
  transform:rotateY(0deg) rotateX(0deg) scale(1) translateX(0%);
  will-change: transform;
  backface-visibility: hidden;
  color: var(--secondary);
  font-family: heading3;
  font-weight: 500;
}
