@font-face {
  font-family: heading1;
  src: url("/fonts/TWKLausanne-100.woff2");
}
@font-face {
  font-family: heading2;
  src: url("/fonts/TWKLausanne-200.woff2");
}
@font-face {
  font-family: heading3;
  src: url("/fonts/TWKLausanne-300.woff2");
}
@font-face {
  font-family: heading4;
  src: url("/fonts/TWKLausanne-400.woff2");
}
@font-face {
  font-family: heading5;
  src: url("/fonts/TWKLausanne-500.woff2");
}
@font-face {
  font-family: heading6;
  src: url("/fonts/TWKLausanne-600.woff2");
}

@font-face {
  font-family: para1;
  src: url("/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: para2;
  src: url("/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: para3;
  src: url("/fonts/Satoshi-Variable.woff2");
}
@font-face {
  font-family: para4;
  src: url("/fonts/Satoshi-Light.woff2");
}

:root {
  --primary: #f2f2ee;
  --secondary: #000;
  --heading: #c0bfbf;
  --para: #717171;
  --back: #f2f2ee83;
  --invert-filter: invert(0);
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  overscroll-behavior: none !important;
}

.navigation2 {
  z-index: 10 !important;
}

#navigation {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 89%);
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 5;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5vw;
}
#top-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#navigation-link {
  display: flex;
  flex-direction: column;
}
#navigation-link a {
  font-family: heading1;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--secondary);
  text-decoration: none;
  margin-bottom: 1vw;
  opacity: 0.5;
  letter-spacing: 1px;
}
#navigation-link a:nth-child(2) {
  opacity: 1;
  font-weight: 600;
}
#top-container .common-btn {
  text-decoration: none;
}
#top-container .common-btn .cirr {
  width: 0.8vw;
  height: 0.8vw;
}
#top-container .common-btn h3 {
  text-transform: lowercase;
  font-size: 2vw;
  font-weight: 100;
}
#btm-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--para);
  padding-top: 3vw;
}
#navigation-social {
  display: flex;
  align-items: center;
  gap: 4vw;
}
#navigation-social a {
  text-decoration: none;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
}

#nav-btn-container {
  display: flex;
  align-items: center;
  gap: 3vw;
}

#navbar {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3.8vw;
  pointer-events: none;
}
#menu {
  cursor: pointer;
}
#navbar #mode {
  cursor: pointer;
  font-size: 1.2vw;
  pointer-events: all;
  transition: all ease 0.3s;
}

#navbar #mode:hover {
  transform: rotate(-15deg);
}

#navbar #logo {
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--secondary);
  pointer-events: all;
}
#navbar #logo img {
  height: 1.2vw;
}
.navbar1 #logo img {
  height: 1.2vw;
  filter: invert(1) !important;
}

.navbar2 #logo img {
  height: 1.2vw;
  filter: var(--invert-filter);
}

.navbar1 {
  color: white;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: end !important;
  padding: 3vw 3.8vw;
  pointer-events: none;
}
.navbar1 #logo {
  width: fit-content;
  font-family: para2;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  pointer-events: all;
}
.navbar2 {
  background: linear-gradient(
    180deg,
    #f2f2ee 0,
    hsla(0, 0%, 95%, 0.987) 11%,
    hsla(0, 0%, 95%, 0.951) 20.8%,
    hsla(0, 0%, 95%, 0.896) 29.6%,
    hsla(0, 0%, 95%, 0.825) 37.5%,
    hsla(0, 0%, 95%, 0.741) 44.6%,
    hsla(0, 0%, 95%, 0.648) 51%,
    hsla(0, 0%, 95%, 0.55) 57%,
    hsla(0, 0%, 95%, 0.45) 62.5%,
    hsla(0, 0%, 95%, 0.352) 67.7%,
    hsla(0, 0%, 95%, 0.259) 72.7%,
    hsla(0, 0%, 95%, 0.175) 77.8%,
    hsla(0, 0%, 95%, 0.104) 82.9%,
    hsla(0, 0%, 95%, 0.049) 88.2%,
    hsla(0, 0%, 95%, 0.013) 93.9%,
    hsla(0, 0%, 95%, 0)
  );
  color: var(--secondary);
  z-index: 14 !important;
}
.navbar1 #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar1 #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  /* background-color: white; */
  /* color: white; */
  border: 2px solid white;
  pointer-events: all;
  transition: all ease 0.3s !important;
}

#navbar #logo span {
  display: inline-block;
}

#navbar #menu {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 50%;
  /* background-color: var(--secondary); */
  /* color: var(--secondary); */
  border: 2px solid var(--secondary);
  pointer-events: all;
  transition: all ease 0.3s !important;
  cursor: pointer;
}
#p {
  position: relative;
}
#dot {
  position: absolute;
  left: -6%;
  bottom: -0.5vw;
  opacity: 0;
}
.navbar1 #menu:hover {
  background-color: #fff;
}
.navbar2 #menu:hover {
  background-color: var(--secondary);
}

h2 {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--heading);
}
h2 span {
  font-family: heading2;
  font-weight: 100;
  line-height: 1.2;
  font-size: 3vw;
  color: var(--heading);
}
h5,
h6,
p {
  font-family: para2;
  /* font-size: 1.125rem; */
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--para);
}

#main {
  width: 100%;
  background-color: var(--primary);
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  overscroll-behavior: none !important;
}
.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 105vh;
  width: 105vw;
  overflow: hidden;
  will-change: clip-path, scale, object-position;
}
.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  filter: brightness(30%);
}
.slide1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.slide2 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide2 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}
.slide3 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide3 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}
.slide4 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide4 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}
.slide5 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide5 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}
.slide6 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide6 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}
.slide7 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide7 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}

.slide8 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide8 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}

.slide9 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide9 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}

.slide10 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide10 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}
.slide11 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide11 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}

.slide12 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
.slide12 img {
  transform: scale(1.5);
  object-position: 50% -20%;
}

#inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26vw;
  height: 26vw;
  z-index: 3;
  cursor: pointer;
}

.inner-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.inner-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
.inner-slide1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.inner-slide2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide2 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.inner-slide3 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide3 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.inner-slide4 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide4 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.inner-slide5 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide5 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.inner-slide6 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide6 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.inner-slide7 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide7 img {
  transform: scale(1);
  object-position: 50% -1000%;
}

.inner-slide8 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide8 img {
  transform: scale(1);
  object-position: 50% -1000%;
}

.inner-slide9 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide9 img {
  transform: scale(1);
  object-position: 50% -1000%;
}

.inner-slide10 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide10 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.inner-slide11 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide11 img {
  transform: scale(1);
  object-position: 50% -1000%;
}

.inner-slide12 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.inner-slide12 img {
  transform: scale(1);
  object-position: 50% -1000%;
}
.slide .inactive {
  transform: rotate(5deg) translateY(100%);
}

.slide-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  z-index: 1;
  text-transform: capitalize;
  color: white;
}
.slide-text h1 {
  font-family: heading1;
  font-size: 3.5vw;
  transform-origin: left;
  font-weight: 600 !important;
  letter-spacing: 1px;
}
.slide-text .title {
  height: 4vw;
  overflow: hidden;
  margin-bottom: 0.3vw;
}
.slide-text .dec {
  overflow: hidden;
  margin-top: 0.3vw;
}
.slide-text p {
  font-family: para2;
  letter-spacing: 0.5px;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  opacity: 0.8;
}

#bottom {
  width: 26vw;
  padding: 2vw 0;
  height: 7vw;
  position: absolute;
  bottom: 4vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
#bottom h3 {
  position: relative;
  font-family: para3;
  font-size: 1.2vw;
  font-weight: 400;
}

#bottom h5 {
  font-family: para3;
  font-size: 1.2vw;
  font-weight: 400;
}

#bottom span {
  font-family: para3;
  font-size: 1.2vw;
  font-weight: 400;
  opacity: 0.7;
}

#project-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#project-count h5,
#project-count span {
  font-size: 1vw;
  font-weight: 400;
}
#count-wraper {
  width: 2vw;
  height: 2vw;
  position: relative;
  overflow: hidden;
}

#count-wraper span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
}
#count-wraper span:nth-child(1) {
  top: 0;
}

#count-wraper span {
  top: "-200%";
}

#allproject {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
  width: fit-content;
}
#allproject svg {
  width: 0.8vw;
  height: 0.8vw;
  transition: all ease 0.2s;
}

#allproject:hover svg {
  transform: scale(0);
  opacity: 0;
}
#allproject h3 {
  font-size: 1vw;
  font-weight: 400;
}
#allproject h3::before {
  content: "";
  position: absolute;
  top: 28%;
  left: -1.2vw;
  width: 0.5vw;
  height: 0.5vw;
  border: 1px solid #fbfdfd8e;
  border-radius: 50px;
  transform: scale(0);
  opacity: 0;
  transition: all ease 0.2s;
}
#allproject:hover h3::before {
  transform: scale(1);
  opacity: 1;
}

#list {
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--primary);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 9;
}
#list-content {
  width: 100%;
  padding: 19.1vh 6vw;
  padding-bottom: 0;
  display: flex;
  align-items: start;
  gap: 5vw;
  flex-wrap: wrap;
}
#list::-webkit-scrollbar {
  display: none;
}

#list .project-parent {
  position: relative;
  width: 26vw;
  height: calc(26vw + 3.5vh);
  margin-bottom: 21.5vh;
  transform-origin: center;
  overflow: hidden;
  will-change: width, height, top, left, transform;
  cursor: pointer;
}

#list .project-parent:hover .text-wrapper h5 {
  transform: translateY(0%) rotate(0deg);
  color: var(--secondary);
}
#list .project-child {
  position: relative;
  width: 100%;
  height: calc(100% - 3.5vh);
  overflow: hidden;
}
.text-wrapper {
  height: 3.5vh;
  overflow: hidden;
}
.text-wrapper h5 {
  font-family: para3;
  font-size: 2.3vh;
  font-weight: 500;
  text-transform: capitalize;
  transition: all ease 0.3s;
  transform: translateY(100%) rotate(25deg);
  transform-origin: left;
}

#list .project-child img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
  opacity: 1;
}

#close {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2vw 3.8vw;
  height: 8vw;
  display: flex;
  justify-content: space-between;
  z-index: 8;
  pointer-events: none;
  color: var(--secondary);
}

#close-btn,
#filter-btn {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
  width: fit-content;
  pointer-events: all;
}
#close-btn svg {
  width: 0.8vw;
  height: 0.8vw;
  transition: all ease 0.2s;
}

#close-btn:hover svg {
  transform: scale(0);
  opacity: 0;
}

#filter-btn i {
  font-size: 1;
  transition: all ease 0.2s;
}

#filter-btn:hover i {
  transform: scale(0);
  opacity: 0;
}
#close-btn h3,
#filter-btn h3 {
  font-weight: 500;
}
#close-btn h3::before,
#filter-btn h3::before {
  content: "";
  position: absolute;
  top: 28%;
  left: -1.2vw;
  width: 0.5vw;
  height: 0.5vw;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  transform: scale(0);
  opacity: 0;
  transition: all ease 0.2s;
}
#close-btn:hover h3::before,
#filter-btn:hover h3::before {
  transform: scale(1);
  opacity: 1;
}
#close h3 {
  position: relative;
  font-family: para3;
  font-size: 1vw;
  line-height: 1.4;
  font-weight: 500;
}

#filterl {
  position: fixed;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--back);
  backdrop-filter: blur(5px);
  z-index: 9;
  opacity: 0;
}
#filter-content {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 50vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw 3.8vw;
  padding-top: 4vw;
  gap: 1.5vw;
}
#filterby-wrp {
  display: flex;
  align-items: start;
}
#filter-content .filter-by:nth-child(4) {
  width: 30%;
}
#fhead {
  width: 20% !important;
  cursor: initial !important;
  user-select: none;
}
#filter-content .filter-by {
  width: 25%;
}

#filter-content .filter-by h5 {
  position: relative;
  transition: all ease 0.3s;
}

#filter-content .filter-by h5:hover:after {
  opacity: 1;
}

#filter-content .filter-by h5::after {
  content: "";
  position: absolute;
  bottom: 0%;
  z-index: 9;
  left: 0;
  width: 100%;
  height: 0.01vw;
  background-color: var(--secondary);
  opacity: 0;
}

#filter-content h2 {
  font-family: para3;
  font-weight: 500;
  line-height: 1.3;
  font-size: 0.8vw;
  color: var(--secondary);
  margin-bottom: 1vw;
  opacity: 0.7;
}
#filter-content h5 {
  position: relative;
  font-family: para3;
  font-size: 0.9vw;
  margin-bottom: 0.4vw;
  font-weight: 500;
  color: var(--secondary);
  cursor: pointer;
  width: fit-content;
}
#filter-content h5.active::before {
  content: "";
  position: absolute;
  left: -0.6vw;
  top: 50%;
  transform: translateY(-50%);
  width: 0.26vw;
  height: 0.26vw;
  background-color: var(--secondary);
  border-radius: 50%;
  opacity: 1;
}

#filter-reset {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#notFound {
  display: none;
  opacity: 0.5;
}
#filter-reset h5 {
  font-family: heading3;
  font-weight: 400;
  font-size: 1.6vw;
  white-space: nowrap;
}

#filter-reset h5:nth-child(2) {
  width: 30%;
  display: none;
}

#cross {
  position: absolute;
  top: 3vw;
  right: 2vw;
  color: var(--secondary);
  font-size: 1.3vw;
  cursor: pointer;
}

/* for responsive page */

#mobile-logo {
  display: none;
}

#mobile-logo img {
  width: 100%;
}
#page1-mobile {
  min-height: 100vh;
  width: 100%;
  padding: 4vw 4vw;
  padding-top: 15vh;
  overflow-y: auto;
  display: none;
}
#page1-mobile .project-m {
  width: 100%;
  margin-top: 18vw;
  text-decoration: none;
  display: inline-block;
}

#page1-mobile h4 {
  font-family: heading2;
  font-size: 5vw;
  letter-spacing: 1px;
  margin-top: 4vw;
  color: var(--heading);
}

#page1-mobile p {
  font-family: para3;
  font-size: 1.05rem;
  font-weight: 500;
  opacity: 0.8;
  margin-top: 0.5vw;
  color: var(--para);
}

.project-showcase {
  width: 100%;
  height: 100vw;
}

.project-showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar1 #mode {
  display: none;
}
#footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  padding: 6vw;
  color: var(--secondary);
  display: flex;
  align-items: flex-end;
  display: none;
}

#footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#ft-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#ft-left img {
  width: 4vw;
}
#ft-left h2 {
  font-size: 2vw;
  letter-spacing: 0.5px;
  color: var(--para);
}
#ft-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4vw;
}
#footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer-links a {
  width: calc(100% / 3);
  text-decoration: none;
  color: var(--heading);
  font-family: heading3;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.5vw;
  letter-spacing: 1px;
}
#bottom-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-links a {
  width: calc(100% / 3);
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 1vw;
}
#footer #social {
  display: flex;
  gap: 5vw;
}
#footer #social h5 {
  margin-bottom: 0.5vw;
}
#ft-right h5 {
  color: var(--heading);
  font-family: heading5;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.heading-ft {
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
  margin-bottom: 0.5vw;
}
#input-box input {
  width: 100%;
  padding: 0.8vw 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--para);
}
.social-links {
  display: flex;
  flex-direction: column;
}
.address-link {
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}
.social-links a {
  text-decoration: none;
  font-family: para2;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  color: var(--para);
  display: inline-block;
}

.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder {
  position: relative;
  cursor: pointer;
  width: fit-content;
}
.lineUnder::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.01vw;
  background-color: var(--secondary);
  transition: all ease 0.3s;
}
.lineUnder:hover:before {
  width: 100%;
}
.linewrap {
  display: flex;
  gap: 6px;
  width: fit-content;
}
.lastft {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.common-btn {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.common-btn .cirr {
  width: 0.4vw;
  height: 0.4vw;
  background-color: var(--secondary);
  border-radius: 50px;
  transition: all ease 0.3s;
}

.common-btn:hover .cirr {
  width: 0.9vw;
  height: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}
.common-btn .cirr i {
  color: var(--primary);
  font-family: para3;
  font-weight: 500;
  font-size: 0.5vw;
  display: none;
}

.common-btn:hover .cirr i {
  display: block;
}

.common-btn h3 {
  position: relative;
  transition: all ease 0.3s;
  margin-right: 1vw;
  font-family: para3;
  font-size: 0.9vw;
  line-height: 1.5;
  font-weight: 500;
  color: var(--heading);
  text-transform: uppercase;
}
.common-btn:hover h3 {
  margin-right: 0;
}

.common-btn h3::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0%;
  background-color: var(--heading);
  height: 0.01vw;
  transition: all ease 0.3s;
}
.common-btn:hover h3::after {
  width: 0;
}

 #mobile-logo{
    display: none;
  }


@media (max-width: 600px) {
  html,
  body {
    overflow: auto !important;
  }
  .navbar1 {
    padding: 10vw 4vw;
    z-index: 9;
    justify-content: space-between !important;
    background: linear-gradient(
      180deg,
      #000000 0,
      hsla(0, 0%, 0%, 0.987) 11%,
      hsla(0, 0%, 0%, 0.951) 20.8%,
      hsla(0, 0%, 0%, 0.896) 29.6%,
      hsla(0, 0%, 0%, 0.825) 37.5%,
      hsla(0, 0%, 0%, 0.741) 44.6%,
      hsla(0, 0%, 0%, 0.648) 51%,
      hsla(0, 0%, 0%, 0.55) 57%,
      hsla(0, 0%, 0%, 0.45) 62.5%,
      hsla(0, 0%, 0%, 0.352) 67.7%,
      hsla(0, 0%, 0%, 0.259) 72.7%,
      hsla(0, 0%, 0%, 0.175) 77.8%,
      hsla(0, 0%, 0%, 0.104) 82.9%,
      hsla(0, 0%, 0%, 0.049) 88.2%,
      hsla(0, 0%, 0%, 0.013) 93.9%,
      hsla(0, 0%, 0%, 0)
    );
  }
  .navbar1 #menu {
    height: 5vw;
    width: 5vw;
    border: 3px solid var(--secondary);
  }
  .navbar1 #logo {
    display: none;
  }
  .navbar1 #mode {
    display: block;
    font-size: 5vw;
  }
  #mobile-logo {
    display: flex;
    align-items: end;
    filter: invert(1);
    width: 45%;
    pointer-events: auto;
  }

  #navigation {
    padding: 6vw;
    justify-content: space-between;
    padding-top: 25vh;
  }

  #top-container {
    flex-direction: column;
    align-items: start;
    gap: 5vw;
  }
  #navigation-link a {
    font-size: 11.5vw;
    margin-bottom: 4vw;
  }
  .common-btn {
    gap: 2.5vw;
  }
  .common-btn h3 {
    font-size: 3vw;
  }
  .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }

  #top-container .common-btn h3 {
    font-size: 5vw;
  }
  #top-container .common-btn .cirr {
    width: 2.5vw;
    height: 2.5vw;
  }
  #btm-container {
    flex-direction: column-reverse;
    align-items: start;
    gap: 5vw;
    padding-top: 5vw;
  }
  #navigation-social {
    width: 100%;
    justify-content: space-between;
  }
  #navigation-social a {
    font-size: 1.05rem;
  }
  #nav-btn-container {
    gap: 12vw;
  }
  .navbar2{
    padding: 10vw 4vw !important;
  }
  #navbar #mode {
    font-size: 5vw;
  }
  #logo{
    display: none !important;
  }
  #mobile-logo{
    width: 45%;
    display: inline-block;
  }
  #mobile-logo img{
    width: 100%;
  }
  #navbar #menu {
    width: 5vw;
    height: 5vw;
    border: 3px solid var(--secondary);
  }
  #page1 {
    height: 100dvh;
  }
  #inner-container {
    width: 90vw;
    height: 90vw;
  }
  #bottom {
    width: 100%;
    padding: 0 4vw;
  }
  .text-wrapper h5 {
    transform: translateY(0%) rotate(0deg);
    color: var(--secondary) !important;
}

  .slide-text {
    top: 17%;
    left: 8vw;
    transform: translate(0, 0);
  }
  #list .project-parent {
    width: 100vw;
    height: calc(100vw + 3.5vh);
    margin-bottom: 5vw;
  }
  .slide-text .title {
    height: 8vw;
    display: inline-block;
  }
  #close-btn svg {
    width: 3vw;
    height: 3vw;
  }
  #close-btn, #filter-btn {
    gap: 2.5vw;
  }
  #close h3 {
    font-size: 3vw;
    letter-spacing: .5px;
  }
  #close{
    padding: 8vw 4vw;
  }
  .slide-text h1 {
    font-size: 7vw;
  }
  #allproject {
    gap: 2.5vw;
  }
  #project-count h5,
  #project-count span {
    font-size: 3vw;
  }
  #count-wraper {
    width: 5vw;
    height: 5vw;
  }
  #list-content {
    padding: 25vw 4vw 18vw;
  }
  #filterby-wrp {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #fhead {
    width: 100% !important;
    margin-bottom: 8vw !important;
  }
  #filter-content h5 {
    font-size: 1.05rem;
    letter-spacing: .5px;
    margin-bottom: 1.2vw;
  }
  #filter-content h5.active::before {
    width: 1.2vw;
    height: 1.2vw;
    left: -2.1vw;
  }
  #filter-content {
    height: 85vh;
    padding:4vw;
    padding-bottom: 8vw;
  }
  #filter-content h2 {
    font-size: 1.05rem;
    margin-bottom: 3vw;
    color: var(--para);
    letter-spacing: .5px;
  }
  #filter-reset{
    margin-bottom: 15vw;
  }
  #cross{
    font-size: 5vw;
  }
  #allproject svg {
    width: 3vw;
    height: 3vw;
  }
  #filter-content .filter-by {
    width: 50%;
    margin-bottom: 8vw;
}
  #allproject h3 {
    font-size: 3vw;
    letter-spacing: 1px;
  }
  .slide-text p {
    font-size: 1.05rem;
  }
  #footer {
    height: auto;
    padding-top: 15vw;
  }

  #footer-container {
    flex-direction: column;
    gap: 20vw;
  }
  #ft-left img {
    width: 10vw;
  }
  #ft-left h2 {
    font-size: 5vw;
    line-height: 1.3;
  }
  #ft-left {
    gap: 12vw;
  }
  #footer-links a {
    margin-bottom: 5vw;
  }
  #bottom-links a {
    font-size: 1.06rem;
  }
  #ft-right {
    gap: 12vw;
  }
  .heading-ft {
    font-size: 1.06rem;
    margin-bottom: 2vw;
  }
  .address-link {
    font-size: 1.06rem;
  }
  .social-links a {
    font-size: 1.06rem;
  }
  #footer #social h5 {
    margin-bottom: 2vw;
  }
  #input-box input {
    font-size: 1.06rem;
    padding: 4vw 0;
  }
  #footer #social {
    gap: 16vw;
  }
}
